<div id="helpIndex">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded mt-2">
                <div class="m-4">
                    <h1 class="text-primary"> Proximamente... </h1>
                </div>
            </div>
        </div>
    </div>
</div>
