<div id="error404">
    <div class="row text-center">
        <div class="col-6 offset-3 mt-4 bg-white p-3 border rounded mx-auto">
            <span class="my-big-icon text-center text-info"><i class="fas fa-user-astronaut"></i></span>
            <h2 class="text-center text-info">Error 404, lugar no encontrado.</h2>
            <h5 class="text-center text-info">Alto ahí viajero, estas muy lejos de casa.</h5>
            <a href="" class="btn btn-info mt-3">Volver a casa</a>
        </div>
    </div>
</div>
