<div id="errorFatal">
    <div class="row text-center">
        <div class="col-6 offset-3 mt-4 bg-white p-3 border rounded mx-auto">
            <span class="my-big-icon text-center text-danger"><i class="fas fa-times"></i></span>
            <h2 class="text-center text-danger">Error Fatal.</h2>
            <h5 class="text-center text-danger">Ha ocurrido algo inesperado.</h5>
            <a href="" class="btn btn-danger mt-3">Volver</a>
        </div>
    </div>
</div>
