<div id="errorFatal">
    <div class="row text-center">
        <div class="col-6 offset-3 mt-4 bg-white p-3 border rounded mx-auto">
            <span class="my-big-icon text-center text-danger"><i class="fas fa-sign-in-alt"></i></span>
            <h2 class="text-center text-danger">Sesión de usuario requerida.</h2>
        </div>
    </div>
</div>
