<div id="itemTrainerPosition">
    <div class="row">
        <div id="newItem" class="col-md-4" @keyup.enter="newItem">
            <div class="border rounded my-3">
                <div class="form-title m-3">
                    <h5 class="text-primary"><i class="fas fa-sliders-h"></i> Cargo Capacitador</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <div class="input-group">
                                        <input class="form-control validator" data-validator="required|length" data-minlen="1" data-maxlen="50" placeholder="Digita un nombre" type="text" v-model="JSONitem.name">
                                        <div class="invalid-feedback">
                                            Nombre invalido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" @click="newItem"> Crear </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="border rounded my-3">
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="getAll"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                <option value="name" selected>Nombre</option>
                                <option value="state">Estado</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar por nombre" v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mt-2 mx-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="my-table-col-1" scope="col">Gestionar</th>
                                        <th class="my-table-col-2" scope="col">Nombre</th>
                                        <th class="my-table-col-2" scope="col">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td><button name="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalEditItem" @click="selectItem(item.code)"><i class="fas fa-cube"></i></button></td>
                                        <td>{{ item.name }}</td>
                                        <td v-if="item.state == 1">Activo</td>
                                        <td v-else>Inactivo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalEditItem" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-trainer-position-edit" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="row">
                    <div id="editItem" class="col-md-12" @keyup.enter="editItem">
                        <div class="border rounded">
                            <div class="form-title m-3">
                                <h5 class="text-primary"><i class="fas fa-sliders-h"></i> Cargo Capacitador</h5>
                            </div>
                            <hr>
                            <div class="form-body m-3">
                                <div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Nombre</label>
                                                <div class="input-group">
                                                    <input class="form-control validator" data-validator="required|length" data-minlen="1" data-maxlen="50" placeholder="Digita un nombre" type="text" v-model="JSONitem.selected.name">
                                                    <div class="invalid-feedback">
                                                        Nombre invalido.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Estado</label>
                                                <select class="custom-select" v-model="JSONitem.selected.state">
                                                        <option value="1">Activo</option>
                                                        <option value="0">Inactivo</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" @click="editItem" :disabled="!show"> Guardar </button>
                                            <button class="btn btn-secondary mr-3" data-dismiss="modal"> Cerrar </button>
                                            <button class="btn btn-danger float-right notus2" @click="deleteItem"> Eliminar </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjItemTrainerPosition = new Vue({
        el: '#itemTrainerPosition',
        data: {
            search: "",
            numResults: 5,
            page: 1,
            order: "name",
            JSONitem: {
                list: [],
                name: "",
                selected: {
                },
                selectedCopy: {
                }
            }
        },
        created: function() {
            this.getAll();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            }
        },
        methods: {
            orderBy: function(pBy) {
                this.JSONitem.list.sort(function(a, b) {
                    return a[pBy].toLowerCase() > b[pBy].toLowerCase();
                });
            },
            getAll: function() {
                axios.get("ajax/trainer-position/get-all").then(response => {
                    this.JSONitem.list = response.data.data;
                    this.orderBy(this.order);
                });
            },
            newItem: function() {
                if (Validator("newItem")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        name: this.JSONitem.name
                    }));
                    axios.post("ajax/trainer-position/new", params).then(response => {
                        if (response.data.status == "success") {
                            //console.log(response);
                            this.getAll();
                            this.JSONitem.name = "";
                            ValidatorRemoveFeed("newItem");
                        }
                    });
                }
            },
            selectItem: function(pCode) {
                var item = this.JSONitem.list.find(pItem => pItem.code == pCode);
                this.JSONitem.selected = Object.assign({}, item);
                this.JSONitem.selectedCopy = Object.assign({}, item);
            },
            editItem: function() {
                if (Validator("editItem")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify(this.JSONitem.selected));
                    axios.post("ajax/trainer-position/edit", params).then(response => {
                        ValidatorRemoveFeed("editItem");
                        $('#modalEditItem').modal('hide');
                        this.getAll();
                    });
                }
            },
            deleteItem: function() {
                let params = new URLSearchParams();
                params.append('data', JSON.stringify(this.JSONitem.selected));
                axios.post("ajax/trainer-position/delete", params).then(response => {
                    if (response.data.status === "success") {
                        $('#modalEditItem').modal('hide');
                        this.getAll();
                    }
                });
            }
        },
        computed: {
            show: function() {
                return this.JSONitem.selected.name != this.JSONitem.selectedCopy.name ||
                 this.JSONitem.selected.state != this.JSONitem.selectedCopy.state;
            },
            filteredItems: function() {
                var self = this;
                return this.JSONitem.list.filter(function(pList) {
                    return pList.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
    });
    $('#modalEditItem').on('hidden.bs.modal', function(e) {
        ValidatorRemoveFeed("editItem");
    });
    setViewForUserType();
</script>
