<div id="calendarIndex">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div role="form" class="mx-3 mt-1">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-7">
                            <div class="form-group">
                                <label for=""><small class="text-muted">C. Producción</small></label>
                                <div class="input-group mb-3">
                                    <select class="custom-select custom-select-sm" v-model="productionCenter">
                                            <option v-for="item in JSONview.productionCenterList" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-5">
                            <div class="form-group">
                                <label for=""><small class="text-muted">Año</small></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm mr-1" @click="subtractYear"><small><i class="fas fa-minus"></i></small></button>
                                    </div>
                                    <input id="inputYear" type="text" class="form-control form-control-sm" readonly v-model="year">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm ml-1" @click="addYear"><small><i class="fas fa-plus"></i></small></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for=""><small class="text-muted">Fecha</small></label>
                                <div class="input-group date" id="dateCalendar" data-target-input="nearest">
                                    <input type="date" class="form-control form-control-sm" v-model="date">
                                    <div class="input-group-append">
                                        <button class="btn btn-light btn-sm ml-1" @click="dateToToday"><i class="far fa-calendar-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="border rounded my-3">
                <div class="m-3">
                    <button class="float-right btn btn-light btn-sm ml-1" @click="addMonth"><i class="fas fa-chevron-right"></i></button>
                    <button class="float-right btn btn-light btn-sm ml-1" @click="subtractMonth"><i class="fas fa-chevron-left"></i></button>
                    <button class="float-right btn btn-light btn-sm ml-1" @click="updateCalendar"><i class="fas fa-sync-alt"></i></button>
                    <h5 class="text-primary text-capitalize">{{ calendarTitle }}</h5>
                </div>
                <div class="table-responsive">
                    <table id="my-calendar" class="my-table table rounded">
                        <thead class="table-borderless">
                            <tr>
                                <td class="my-calendar-month text-secondary">Sem.</td>
                                <td class="my-calendar-month text-secondary">Lun.</td>
                                <td class="my-calendar-month text-secondary">Mar.</td>
                                <td class="my-calendar-month text-secondary">Mie.</td>
                                <td class="my-calendar-month text-secondary">Jue.</td>
                                <td class="my-calendar-month text-secondary">Vie.</td>
                                <td class="my-calendar-month text-secondary">Sab.</td>
                                <td class="my-calendar-month text-secondary">Dom.</td>
                            </tr>
                        </thead>
                        <tbody class="table-bordered">
                            <tr v-for="calendarWeek in calendarPerMonth">
                                <td class="my-calendar-day" v-for="(calendarDate, index) in calendarWeek">
                                    <div class="my-calendar-cell" v-if="index == 0">
                                        <button class="btn btn-white btn-block my-btn-cell" @click="selectDate('week-' + calendarDate)">
                                            <span class="badge badge-primary">{{ calendarDate }}</span>
                                            <span class="d-block my-mr-1"></span>
                                            <span class="badge badge-primary"><i class="fas fa-chalkboard-teacher"></i> : {{ countTrainingsWeek(calendarDate) }}</span>
                                        </button>
                                    </div>
                                    <div class="my-calendar-cell" v-else>
                                        <div class="" v-if="calendarDate != 0">
                                            <button class="btn btn-white btn-block my-btn-cell" @click="selectDate('date-' + calendarDate)">
                                                <span class="badge badge-light" v-if="index < 6">{{ calendarDate }}</span>
                                                <span class="badge badge-secondary" v-else>{{ calendarDate }}</span>
                                                <span class="d-block my-mr-1"></span>
                                                <small v-html="countTrainingsDate(calendarDate)"></small>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="ml-3 mb-2">
                            <small class="text-muted">
                                Numero capacitaciones : <span class="badge badge-primary"><i class="fas fa-chalkboard-teacher"></i> : N</span><i class="ml-1 text-secondary fas fa-caret-right"></i>
                                Capcitación Planeada : <span class="badge badge-primary"><i class="fas fa-chalkboard"></i></span> <i class="text-secondary fas fa-caret-right"></i>
                                En ejecución : <span class="badge badge-warning"><i class="fas fa-chalkboard"></i></span> <i class="text-secondary fas fa-caret-right"></i>
                                Ejecutada : <span class="badge badge-success"><i class="fas fa-chalkboard"></i></span>
                            </small>
                        </div>
                    </div>
                </div>
                <div id="help-calendar-rules" class="row">
                    <div class="col-md-12">
                        <div class="ml-3 mb-2">
                            <small class="text-muted">
                                * Si la primer semana de enero es la semana 52 o 53, se debe seleccionar un día y no la semana. <br>
                                * Si la ultima semana de diciembre es la semana 1, se debe seleccionar un día y no la semana. <br>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="border rounded my-3">
                <div class="form-title m-3">
                    <button class="float-right btn btn-primary btn-sm" type="button" name="button" data-toggle="modal" data-target="#modalTrainingNew" @click="loadSelectedToNew"><i class="fas fa-plus"></i></button>
                    <a href="calendar#help-calendar-rules" class="float-right btn btn-outline-warning btn-sm mr-2"><i class="fas fa-exclamation-triangle"></i></a>
                    <h5 class="text-primary">Gestionar calendario</h5>
                    <small id="emailHelp" class="form-text text-muted"><span @click="clearSelectedDate"><span class="font-weight-bold mr-2">Fecha seleccionada </span> {{ selectedDateText }} <i class="fas fa-times ml-2" v-show="selectedDateText !== null"></i></span></small>
                </div>
                <div class="form-body m-3">
                    <div>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th class="my-table-col-1"></th>
                                            <th class="my-table-col-3">Tema</th>
                                            <th class="my-table-col-2">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                        <tr v-for="(item, index) in filteredItems">
                                            <td>
                                                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalTrainingEdit" @click="loadTrainingToEdit(item.code)" v-if="item.state == 1"><i class="fas fa-cogs"></i></button>
                                                <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#modalTrainingEditState" @click="loadTrainingToEditState(item.code)" v-if="item.state == 4"><i class="fas fa-cogs"></i></button>
                                                <a :href="'training/edit-in-execution#' + item.code" class="btn btn-light btn-sm router-link" data-linkto="mainContent" v-if="item.state == 2"><i class="fas fa-cogs"></i></a>
                                                <a :href="'training/view#' + item.code" class="btn btn-light btn-sm" target="_blank" v-if="item.state == 3"><i class="fas fa-eye"></i></a>
                                            </td>
                                            <td><small>{{ item.theme }}</small></td>
                                            <td><small>{{ item.stateName }}</small></td>
                                        </tr>
                                        <tr v-if="filteredItems.length < 1">
                                            <td class="text-center" colspan="4"><span class="text-muted font-italic"> No hay capacitaciones en la fecha seleccionada</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="modalTrainingNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-new" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div id="containerTrainingNew"></div>
                                </div>
                            </div>
                        </div>
                        <div id="modalTrainingEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-edit" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div id="containerTrainingEdit"></div>
                                </div>
                            </div>
                        </div>
                        <div id="modalTrainingEditState" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-edit-state" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div id="containerTrainingEditState"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjCalendarIndex = new Vue({
        el: '#calendarIndex',
        data: {
            JSONtrainings: [],
            year: null,
            month: null,
            monthName: null,
            week: null,
            date: null,
            calendarPerMonth: null,
            selectedDateText: null,
            selectedDate: null,
            selectedWeek: null,
            selectedYear: null,
            isSelected: null,
            productionCenter: null,
            JSONview: {
                trainingPlannedList: [],
                productionCenterList: [],
                trainingNew: {
                    loaded: false
                },
                trainingEdit: {
                    loaded: false
                },
                trainingEditState: {
                    loaded: false
                }
            }
        },
        created: function() {
            this.getProductionCenters();
            this.getProductionCenter();
            this.date = moment().format("YYYY-MM-DD");
            this.year = moment().format("YYYY");
            this.getCalendar();
            this.loadTrainingNew();
            this.loadTrainingEdit();
            this.loadTrainingEditState();
        },
        methods: {
            updateCalendar: function () {
                this.getTrainings();
                this.getProductionCenters();
            },
            countTrainingsWeek: function (pWeek) {
                var self = this;
                var filteredITems = this.JSONtrainings.filter(function(pList) {
                    return pList.year.indexOf(self.year) >= 0 && pList.week.indexOf(pWeek) >= 0;
                });
                return filteredITems.length;
            },
            countTrainingsDate: function (pDate) {
                var date = moment(this.date, 'YYYY-MM-DD').date(pDate).format('YYYY-MM-DD');

                var filteredITems = this.JSONtrainings.filter(function(pList) {
                    return pList.date !== null ? pList.date.indexOf(date) >= 0 : "";
                });
                var filteredStatePlanned = filteredITems.filter(function(pList) {
                    return pList.state !== null ? pList.state.indexOf(1) >= 0 : "";
                });
                var filteredStateInExecution = filteredITems.filter(function(pList) {
                    return pList.state !== null ? pList.state.indexOf(2) >= 0 : "";
                });
                var filteredStateExecuted = filteredITems.filter(function(pList) {
                    return pList.state !== null ? pList.state.indexOf(3) >= 0 : "";
                });

                var html = '';

                if (filteredStatePlanned.length > 0) {
                    html += '<span class="badge badge-primary mr-1">' + filteredStatePlanned.length + '</span>';
                }
                if (filteredStateInExecution.length > 0) {
                    html += '<span class="badge badge-warning mr-1">' + filteredStateInExecution.length + '</span>';
                }
                if (filteredStateExecuted.length > 0) {
                    html += '<span class="badge badge-success">' + filteredStateExecuted.length + '</span>';
                }

                return html;
            },
            selectDate: function(pStr) {
                var partsOfId;
                partsOfId = pStr.split("-");
                if (partsOfId[0] == "week") {
                    this.selectedDateText = "Semana " + partsOfId[1];
                    this.selectedWeek = partsOfId[1];
                    this.isSelected = "week";
                } else if (partsOfId[0] == "date") {
                    this.selectedDate = partsOfId[1];
                    this.selectedDateText = "Dia " + partsOfId[1];
                    this.date = moment(this.date, 'YYYY-MM-DD').date(partsOfId[1]).format('YYYY-MM-DD');
                    this.selectedWeek = moment(this.date, "YYYY-MM-DD").isoWeek();
                    this.isSelected = "date";
                }
            },
            getTrainings: function () {
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({
                    year: this.year,
                    productionCenter: this.productionCenter
                }));
                axios.post("ajax/training/get-by-year", params).then(response => {
                    console.log(1);
                    if (response.data.status == "success") {
                        this.JSONtrainings = response.data.data;
                    } else {
                        this.JSONtrainings = [];
                    }
                });
            },
            loadSelectedToNew: function () {
                vjTrainingNew.loadSelected(this.year, this.selectedWeek, this.productionCenter, this.selectedDate);
            },
            loadTrainingToEdit: function (pCode) {
                vjTrainingEdit.loadTrainingToEdit(pCode);
            },
            loadTrainingToEditState: function (pCode) {
                vjTrainingEditState.loadTrainingToEditState(pCode);
            },
            loadTrainingNew: function() {
                if (!this.JSONview.trainingNew.loaded) {
                    axios.get("component/training/new").then(response => {
                        $("#containerTrainingNew").html(response.data)
                    });
                    this.JSONview.trainingNew.loaded = true;
                }
            },
            loadTrainingEdit: function() {
                if (!this.JSONview.trainingEdit.loaded) {
                    axios.get("component/training/edit").then(response => {
                        $("#containerTrainingEdit").html(response.data)
                    });
                    this.JSONview.trainingEdit.loaded = true;
                }
            },
            loadTrainingEditState: function() {
                if (!this.JSONview.trainingEditState.loaded) {
                    axios.get("component/training/edit-state").then(response => {
                        $("#containerTrainingEditState").html(response.data)
                    });
                    this.JSONview.trainingEditState.loaded = true;
                }
            },
            getProductionCenter: function() {
                axios.get("ajax/user/get-production-center").then(response => {
                    this.productionCenter = response.data.data.code;

                });
            },
            getProductionCenters: function() {
                axios.get("ajax/production-center/get").then(response => {
                    this.JSONview.productionCenterList = response.data.data;
                });
            },
            getCalendar: function() {
                var mm = moment(this.date, 'YYYY-MM-DD');
                var year = mm.format('YYYY');
                var month = mm.format('MM');
                //Dia en el que comienza la semana, formato lun.. mar.. mier.. etc..
                var startDayOfMonth = mm.startOf('month').format('d');
                var endOfMonth = mm.endOf('month').format('DD');
                var weeks = new Array(6);
                var days;
                var day = 1;
                var week;

                if (mm.month() == 0) {
                    week = 1;
                } else {
                    week = parseInt(mm.startOf('month').format('w'));
                }

                if (startDayOfMonth == 0) {
                    startDayOfMonth = 7;
                }

                for (let i = 0; i < 6; i++) {
                    days = new Array(8)
                    for (let j = 0; j < 8; j++) {
                        if (j == 0) {
                            days[0] = moment(year + '-' + month + '-' + day, 'YYYY-MM-DD').isoWeek();
                            week++;
                        } else if (i == 0 && j < startDayOfMonth) {
                            days[j] = 0;
                        } else if (i == 0 && j >= startDayOfMonth) {
                            days[j] = day;
                            day++;
                        } else if (i > 0 && day <= endOfMonth) {
                            days[j] = day;
                            day++;
                        } else {
                            days[j] = 0;
                        }
                    }
                    weeks[i] = days;
                }
                if (weeks[5][1] == 0) {
                    weeks.pop();
                }
                this.calendarPerMonth = weeks;
            },
            addYear: function() {
                this.date = moment(this.date, 'YYYY-MM-DD').add(1, 'years').format('YYYY-MM-DD');
            },
            subtractYear: function() {
                this.date = moment(this.date, 'YYYY-MM-DD').subtract(1, 'years').format('YYYY-MM-DD');
            },
            addMonth: function() {
                this.date = moment(this.date, 'YYYY-MM-DD').add(1, 'months').format('YYYY-MM-DD');
            },
            subtractMonth: function() {
                this.date = moment(this.date, 'YYYY-MM-DD').subtract(1, 'months').format('YYYY-MM-DD');
            },
            dateToToday: function() {
                this.date = moment().format('YYYY-MM-DD');
            },
            buildDate: function(pDate) {
                return "date-" + pDate;
            },
            buildWeekDate: function(pWeek) {
                return "week-" + pWeek;
            },
            clearSelectedDate: function () {
                this.selectedDateText = null;
                this.selectedDate = null;
                this.selectedWeek = null;
                this.selectedYear = null;
                this.isSelected = "date";
            }
        },
        watch: {
            date: function(pNewDate) {
                var validatedDate = pNewDate;
                if (moment(pNewDate, "YYYY-MM-DD").isValid() === false) {
                    validatedDate = moment().format("YYYY-MM-DD");
                    this.date = validatedDate;
                }
                this.week = moment(validatedDate, "YYYY-MM-DD").isoWeek();
                this.year = moment(validatedDate, "YYYY-MM-DD").year();
                this.month = moment(validatedDate, "YYYY-MM-DD").month();
                this.monthName = moment(validatedDate, "YYYY-MM-DD").format('MMMM YYYY');
            },
            monthName: function() {
                this.getCalendar();
            },
            year: function (pNewYear, pOldYear) {
                if (pNewYear !== pOldYear || this.productionCenter > 0) {
                    this.getTrainings();
                }
            },
            productionCenter: function () {
                if (this.productionCenter > 0) {
                    this.getTrainings();
                }
            }
        },
        computed: {
            calendarTitle: function () {
                return this.monthName + ", Semana " + this.week;
            },
            filteredItems: function() {
                var self = this;
                return this.JSONtrainings.filter(function(pList) {
                    if (self.isSelected == "date") {
                        return pList.date !== null ? pList.date.indexOf(self.date) >= 0 : "";
                    } else {
                        return pList.year.indexOf(self.year) >= 0 && pList.week.indexOf(self.selectedWeek) >= 0;
                    }
                });
            }
        }
    });
    $('#modalTrainingNew').on('hidden.bs.modal', function(e) {
        ValidatorRemoveFeed("trainingNew");
    });
    loadLibraries();
</script>
