<style media="screen">
@media (min-width: 992px) {
    .modal-dialog {
        max-width: 90% !important;
    }
}
</style>
<div id="trainingAddAssistants">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Agregar Personal</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">C. Producción</label>
                                <div class="input-group mb-3">
                                    <select ref="seleccionado" class="custom-select"  v-model="productionCenter" id="center" @click="getCostCenter">
                                        <option value="">Selecciona...</option>
                                        <option v-for="item in JSONview.productionCenters" v-bind:value="item.productionCenter"> {{ item.productionCenterName }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">C. Costos</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select"  v-model="costCenter">
                                        <option value="">Seleccione...</option>
                                        <option v-for="item in JSONview.costCenters" v-bind:value="item.costCenter"> {{ item.costCenterName }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Area</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select" v-model="Area">
                                        <option value="">Seleccione...</option>
                                        <option v-for="item in JSONview.area" v-bind:value="item.SELECCION_MACRO"> {{ item.SELECCION_MACRO }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-warning btn-sm ml-2" @click="checkMinUpdate" data-toggle="tooltip" data-placement="top" title="Actualiza Base de Datos Capiro"><i class="fas fa-sync-alt" ></i></button>
                            <button class="float-right btn btn-success btn-sm ml-2" @click="get"><i class="fas fa-sync-alt" data-toggle="tooltip" data-placement="top" title="Actualiza lista"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="sort">
                                <option value="asc">Asc</option>
                                <option value="desc">Desc</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                <option value="code" selected>Doc. Identidad</option>
                                <option value="name">Nombre</option>
                                <option value="lastName">Apellidos</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                            </select>
                            <span class="text-muted font-italic float-right mr-2"> <small>Resultados : {{ filteredItems.length }}</small> </span>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar" v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mx-2 mt-2">
                            <table class="my-table table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th class="my-table-col" scope="col">#</th>
                                        <th class="my-table-col-1" scope="col">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="selectAll" v-model="selectedAll" @click="selectAll">
                                                <label class="custom-control-label" for="selectAll">Agregar</label>
                                            </div>
                                        </th>
                                        <th class="my-table-col-2" scope="col">Doc. identidad</th>
                                        <th class="my-table-col-5" scope="col">Nombre Completo</th>
                                        <th class="my-table-col-4" scope="col">C.Costos</th>
                                        <th class="my-table-col-3" scope="col">C.Produccion</th>
                                        <th class="my-table-col-3" scope="col">Sexo</th>
                                        <th class="my-table-col-3" scope="col">Area</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-if="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk-tea-mat" :id="'assistants-' + item.code" name="assistants" :value="item.code" v-model.number="checkedAssistants" @click="refreshSelectedAll">
                                                <label class="custom-control-label" :for="'assistants-' + item.code"><i class="fas fa-user-check"></i></label>
                                            </div>
                                        </td>
                                        <td>{{ item.code }}</td>
                                        <td>{{ item.fullName }}</td>
                                        <td>{{ item.costCenter }}</td>
                                        <td>{{ item.productionCenter }}</td>
                                        <td>{{ item.sex }}</td>
                                        <td>{{ item.Area }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-if="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-if="page * numResults / JSONassistants.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                            <small id="emailHelp" class="form-text text-muted float-right">Se han agregado {{ checkedAssistants.length }} de {{ targetPeople }} personas</small>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary" @click="addAssistants"> Guardar </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingAddAssistants = new Vue({
        el: '#trainingAddAssistants',
        data: {
            JSONassistantsSelected:{},
            selectedAll: false,
            checkedAssistants: [],
            search: "",
            costCenter: "",
            productionCenter: "",
            Area: "",
            numResults: 50,
            page: 1,
            order: "code",
            sort: "desc",
            targetPeople: 0,
            JSONassistants: {
                list: []
            },
            JSONview: {
                costCenters: [],
                productionCenters: [],
                area: []
            }
        },
        created: function() {
            this.get();
            this.getChecked();
            this.getAdministrative();
            this.getProductionCenter();
            this.refreshSelectedAll();
            this.targetPeople = vjTrainingEditInExecution.getTargetPeople();
        },
        watch: {
            numResults: function() {
                this.page = 1;
                this.refreshSelectedAll();
            },
            order: function() {
                this.orderBy(this.order);
            },
            page: function () {
                this.refreshSelectedAll();
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                this.refreshSelectedAll();
                return this.JSONassistants.list.filter(function(pList) {
                    return pList.lastName.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 &&
                    pList.cCenterCode.indexOf(self.costCenter) >= 0 &&
                    pList.pCenterCode.indexOf(self.productionCenter) >= 0 &&
                    pList.SELECCION_MACRO.indexOf(self.Area) >= 0
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                var self = this;
                this.JSONassistants.list.sort(function(a, b) {
                    if (self.sort == "desc") {
                        return toString(a[pBy]).toLowerCase() < toString(b[pBy]).toLowerCase();
                    } else {
                        return toString(a[pBy]).toLowerCase() > toString(b[pBy]).toLowerCase();
                    }
                });
            },
            get: function() {
                axios.get("ajax/employee/get-all").then(response => {
                    console.log(response.data.data);
                    this.JSONassistants.list = response.data.data;
                    this.orderBy(this.order);
                });
            },
            checkMinUpdate: function () {
                axios.get("ajax/employee/check-min-update").then(response => {
                    if (response.data.status === "success") {
                        this.get();
                    }
                });
            },
            getProductionCenter: function() {
                axios.get("ajax/production-center/get-from-roster").then(response => {
                    console.log(response.data.data);
                    this.JSONview.productionCenters = response.data.data;
                });
            },
            getChecked: function() {
             let code = new URLSearchParams();
             code.append('data', JSON.stringify({
              code: vjTrainingEditInExecution.getCode()
          }));
             axios.post("ajax/training/get-assistants", code).then(response => {
              this.checkedAssistants = response.data.data.map(Number);
              this.refreshSelectedAll();
          });
         },
         selectAll: function () {
            var self = this;
            $(".chk-tea-mat").each(function () {
                var chkVal = parseInt($(this).val());
                var index = self.checkedAssistants.indexOf(chkVal);
                if (!self.selectedAll) {
                    if (index < 0) {
                        self.checkedAssistants.push(chkVal);
                    }
                } else {
                    if (index > -1) {
                        self.checkedAssistants.splice(index, 1);
                    }
                }
            });
        },
        refreshSelectedAll: function () {
            var self = this;
            setTimeout(function(){
                self.selectedAll = true;
                $(".chk-tea-mat").each(function () {
                    var chkVal = parseInt($(this).val());
                    if (self.checkedAssistants.indexOf(chkVal) < 0) {
                        self.selectedAll = false;
                    }
                });
            }, 10);
        },
        addAssistants: function() {
            let assistants = new URLSearchParams();
            this.JSONassistantsSelected.code=vjTrainingEditInExecution.getCode(),
            this.JSONassistantsSelected.assistants=this.checkedAssistants
            assistants.append('data', JSON.stringify(this.JSONassistantsSelected));
            axios.post("ajax/training/set-assistants", assistants).then(response => {
                console.log("Prueba", assistants);
            });
        },
        getCostCenter: function() {
                    let code = new URLSearchParams();
                    var option = this.$refs.seleccionado.value;
                    code.append('data', JSON.stringify({
                        codigo: option
                    }));
                    axios.post("ajax/cost-center/get", code).then(response => {
                        console.log("Aqui ", code);
                    this.JSONview.costCenters = response.data.data;
                   // $('#center').html(response.data);
               });
        },
        getAdministrative:function(){
            axios.get("ajax/cost-center/get-administrative").then(response=>{
                console.log(response.data);
                this.JSONview.area = response.data.data;
            });
        }
    }
});
loadLibraries();
</script>
