<div id="trainingEnd">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded mb-2">
                <div class="m-3">
                    <h5 class="text-primary">Finalizar una capacitación</h5>
                    <small class="text-muted">Para finalizar la capacitación necesitas el codigo de la capacitación.</small>
                </div>
                <hr>
                <div class="m-3" @keyup.enter="checkTraining">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="searchTraining" class="form-group">
                                <label>Buscar Capacitación</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control control-enabled validator" data-validator="required|numeric|length" data-minlen="1" data-maxlen="11" placeholder="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="Requerido<br>-Numerico, de maximo 11 caracteres"
                                        v-model="code">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-success my-form-control" type="button" data-toggle="tooltip" data-placement="right" title="Validar codigo" @click="checkTraining"><i class="fas fa-check"></i></button>
                                    </div>
                                    <div class="invalid-feedback">
                                        Codigo invalido.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" v-if="JSONview.trainingCheked">
        <div class="col-md-9">
            <div class="border rounded">
                <div class="form-title m-3">
                    <span class="float-right badge badge-pill badge-primary">Codigo: {{ JSONtraining.code}}</span>
                    <span class="float-right badge badge-pill badge-success mr-2" data-toggle="tooltip" data-placement="left" title="Ejecutada"><i class="fas fa-hourglass-end"></i></span>
                    <h5 class="text-primary">Terminar Capacitación</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div id="editTraining" role="form" @keyup.enter="edit">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fecha de la capacitación</label>
                                    <div class="input-group">
                                        <input class="form-control" disabled type="text" :value="JSONtraining.date">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tema</label>
                                    <div class="input-group">
                                        <input class="form-control" disabled type="text" :value="JSONtraining.theme">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Centro de producción</label>
                                    <div class="input-group">
                                        <input class="form-control" disabled type="text" :value="JSONtraining.productionCenter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Proceso</label>
                                    <div class="input-group">
                                        <input class="form-control" disabled type="text" :value="JSONtraining.process">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>% Personas a evaluar</label>
                                    <input class="form-control my-short-1" disabled type="text" :value="JSONtraining.percentEvaluate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>A-Z</label>
                                    <input class="form-control my-short-1" disabled type="text" :value="JSONtraining.az">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Horas planeadas</label>
                                    <input class="form-control my-short-1" disabled :value="JSONtraining.plannedHours">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Hora inicio</label>
                                    <div class="input-group">
                                        <select class="custom-select my-short" v-model="JSONtrainingTime.hour">
                             <option value=""> hh</option>
                             <option v-for="item in JSONtime.hour" v-bind:value="item"> {{item}}</option>
                          </select>
                                        <select class="custom-select my-short" v-model="JSONtrainingTime.minutes">
                             <option value=""> mm</option>
                             <option v-for="minutes in JSONtime.minutes" v-bind:value="minutes"> {{minutes}}</option>
                          </select>
                                        <select class="custom-select my-short-2 validator" v-model="JSONtrainingTime.horary">
                           <option selected value="AM"> AM</option>
                           <option value="PM"> PM</option>
                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Hora Fin</label>
                                    <div class="input-group">
                                        <select class="custom-select my-short" v-model="JSONtrainingTime.endHour">
                              <option value=""> hh</option>
                              <option v-for="item in JSONtime.hour" v-bind:value="item"> {{item}}</option>
                           </select>
                                        <select class="custom-select my-short" v-model="JSONtrainingTime.endMinutes">
                              <option value=""> mm</option>
                              <option v-for="minutes in JSONtime.minutes" v-bind:value="minutes"> {{minutes}}</option>
                           </select>
                                        <select class="custom-select my-short-2 validator" v-model="JSONtrainingTime.endHorary">
                             <option selected value="AM"> AM</option>
                             <option value="PM"> PM</option>
                           </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" @click="edit"> Guardar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Opciones</h5>
                    <small class="text-muted">Opciones adicionales</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-link" data-toggle="modal" data-target="#modalAssistantsAndNotes" @click="loadAssistantsAndNotes"><i class="fas fa-clipboard-list mr-2"></i> Asistencia y notas</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger" @click="endUpTraining"><i class="fas fa-door-closed mr-2" ></i> Terminar capacitación</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalAssistantsAndNotes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-assistans-and-notes" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="containerAssistantsAndNotes"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingEnd = new Vue({
        el: '#trainingEnd',
        data: {
            JSONtime: {
                hour: [],
                minutes: []
            },
            JSONtrainingTime: {
                hour: "",
                minutes: "",
                horary: "AM",
                endHour: "",
                endMinutes: "",
                endHorary: "AM"
            },
            code: null,
            JSONview: {
                trainingCheked: false
            },
            JSONtraining: {}
        },
        created: function() {
            this.getTime();
        },
        methods: {
            checkTraining: function() {
                if (Validator("searchTraining")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        code: this.code
                    }));
                    axios.post("ajax/training/get-executed", params).then(response => {
                        if (response.data.status === "success") {
                            this.JSONtraining = response.data.data;
                            this.JSONtraining = this.JSONtraining[0];
                            if (this.JSONtraining.startTime != null) {
                                var temp = moment(this.JSONtraining.startTime, "HH:mm").format("hh:mm A");
                                var separators = [':', ' '];
                                var temp2 = temp.split(new RegExp(separators.join('|'), 'g'));
                                this.JSONtrainingTime.hour = temp2[0];
                                this.JSONtrainingTime.minutes = temp2[1];
                                this.JSONtrainingTime.horary = temp2[2];
                            }
                            if (this.JSONtraining.endTime != null) {
                                var temp = moment(this.JSONtraining.endTime, "HH:mm").format("hh:mm A");
                                var separators = [':', ' '];
                                var temp2 = temp.split(new RegExp(separators.join('|'), 'g'));
                                this.JSONtrainingTime.endHour = temp2[0];
                                this.JSONtrainingTime.endMinutes = temp2[1];
                                this.JSONtrainingTime.endHorary = temp2[2];
                            }
                            this.JSONview.trainingCheked = true;
                        } else {
                            this.JSONview.trainingCheked = false;
                        }
                    });
                }
            },
            getTime: function() {
                for (var i = 01; i < 13; i++) {
                    this.JSONtime.hour.push((i).toLocaleString('en-US', {
                        minimumIntegerDigits: 2,
                        useGrouping: false
                    }));
                }
                for (var i = 00; i < 60; i++) {
                    this.JSONtime.minutes.push((i).toLocaleString('en-US', {
                        minimumIntegerDigits: 2,
                        useGrouping: false
                    }));
                }
            },
            getCode: function() {
                return this.JSONtraining.code;
            },
            getPercentEvaluate: function() {
                return this.JSONtraining.percentEvaluate;
            },
            edit: function() {
                var time = this.JSONtrainingTime.hour + ":" + this.JSONtrainingTime.minutes + " " + this.JSONtrainingTime.horary
                this.JSONtraining.startTime = moment(time, "h:mm A").format("HH:mm");
                var endTime = this.JSONtrainingTime.endHour + ":" + this.JSONtrainingTime.endMinutes + " " + this.JSONtrainingTime.endHorary
                this.JSONtraining.endTime = moment(endTime, "h:mm A").format("HH:mm");
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({
                    code: this.JSONtraining.code,
                    startTime: this.JSONtraining.startTime,
                    endTime: this.JSONtraining.endTime,
                }));
                axios.post("ajax/training/edit-executed", params).then(response => {
                    console.log(response.data);
                });
            },
            endUpTraining: function() {
                console.log("hola");
                var time = this.JSONtrainingTime.hour + ":" + this.JSONtrainingTime.minutes + " " + this.JSONtrainingTime.horary
                this.JSONtraining.startTime = moment(time, "h:mm A").format("HH:mm");
                var endTime = this.JSONtrainingTime.endHour + ":" + this.JSONtrainingTime.endMinutes + " " + this.JSONtrainingTime.endHorary
                this.JSONtraining.endTime = moment(endTime, "h:mm A").format("HH:mm");
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({
                    code: this.JSONtraining.code,
                    startTime: this.JSONtraining.startTime,
                    endTime: this.JSONtraining.endTime,
                    az: this.JSONtraining.az
                }));
                axios.post("ajax/training/end-up", params).then(response => {
                    if (response.data.status === "success") {
                        location.reload();
                    }
                });
            },
            loadAssistantsAndNotes: function() {
                axios.get("component/training/assistants-and-notes").then(response => {
                    $("#containerAssistantsAndNotes").html(response.data)
                });
            }
        }
    });
    loadLibraries();
</script>
