<div id="trainingEditState" @keyup.enter="editState">
    <div class="row">
        <div class="col-md-12">
            <div role="form" class="border rounded">
                <div class="form-title m-3">
                    <span class="float-right badge badge-pill badge-primary">Codigo: {{ JSONtraining.code}}</span>
                    <span class="float-right badge badge-pill badge-primary mr-2" data-toggle="tooltip" data-placement="left" title="Planeada"><i class="fas fa-hourglass-start"></i></span>
                    <h5 class="text-primary">Editar Capacitación</h5>
                    <small id="emailHelp" class="form-text text-muted">Ultima actualizacion el 13-12-2018</small>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Fecha en semana</label>
                                <input type="text" class="form-control my-short-1" disabled v-model="JSONtraining.week">
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="">Fecha</label>
                              <input type="date" class="form-control" placeholder="YYYY-MM-DD" disabled v-model="JSONtraining.date">
                           </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <input type="text" class="form-control" disabled v-model="JSONtraining.productionCenter">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Proceso</label>
                                <input type="text" class="form-control" disabled v-model="JSONtraining.process">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Título</label>
                                <input type="text" class="form-control" disabled v-model="JSONtraining.theme">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Personas objetivo</label>
                                <input type="text" class="form-control my-short-1" disabled v-model="JSONtraining.targetPeople">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Horas planeadas</label>
                                <input type="text" class="form-control my-short-1" disabled v-model="JSONtraining.plannedHours">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirigido a</label>
                                <input type="text" class="form-control" disabled v-model="JSONtraining.addressed">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Responsable</label>
                                <input type="text" class="form-control" disabled v-model="JSONtraining.responsable">
                            </div>
                        </div>
                    </div>
                    <hr class="notus1">
                    <div class="row notus1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.state">
                                        <option v-for="item in JSONview.state" v-bind:value="item.code"> {{ item.name }}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" @click="editState"> Guardar  </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal"> Cerrar  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingEditState = new Vue({
        el: '#trainingEditState',
        data: {
            JSONview: {
                state: []
            },
            JSONtraining: {}
        },
        created: function () {
            this.getItems();
        },
        methods: {
            loadTrainingToEditState: function(pCode) {
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({ code: pCode }));
                axios.post("ajax/training/get-to-view", params).then(response => {
                    this.JSONtraining = response.data.data;
                });
            },
            editState: function() {
                if (Validator("trainingEditState")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        code: this.JSONtraining.code,
                        state: this.JSONtraining.state
                    }));
                    axios.post("ajax/training/edit-state", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            $("#modalTrainingEditState").modal('hide');
                            vjCalendarIndex.updateCalendar();
                        }
                    });
                }
            },
            getItems: function() {
                axios.get("ajax/training/get-items-planned").then(response => {
                    this.JSONview.state = response.data.data.states;
                });
            }
        }
    });
    loadLibraries();
    setViewForUserType();
</script>
