<div id="trainingAddTeachingMaterial">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="text-primary">Seleccionar materiales</h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="float-right btn btn-primary btn-sm ml-2 notus1" href="user/manage-items#teaching-material" target="_blank">
                                <i class="fas fa-plus"></i>
                            </a>
                            <button class="float-right btn btn-success btn-sm ml-2" @click="getTrainingTeachingMaterial"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2">
                                <option value="name" selected>Nombre</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2">
                                <option value="20" selected>20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="60">60</option>
                            </select>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar por nombre" v-model="search" @keyup="filteredItems">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mx-2">
                            <table class="my-table table table-hover mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="my-table-col-1" scope="col"></th>
                                        <th class="my-table-col-1" scope="col">Nombre</th>
                                        <th class="my-table-col-3" scope="col">Descripción</th>
                                        <th class="my-table-col-1" scope="col">Cantidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in JSONfiltered" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input chk-box" :id="'teamat-' + item.code" name="teachingMaterial" :value="item.code" v-model="item.selected">
                                                <label class="custom-control-label" :for="'teamat-' + item.code"><i class="fas fa-box-open"></i></label>
                                            </div>
                                        </td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description}}</td>
                                        <td><input class="form-control my-short form-control-sm" :id="'amount-' + item.code" v-model="item.amount"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" @click="addTeachingMaterial"> Guardar </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingAddTeachingMaterial = new Vue({
        el: '#trainingAddTeachingMaterial',
        data: {
            JSONselecteds: [],
            JSONfiltered: [],
            JSONmaterials: {
                code: "",
                teachingMaterials: []
            },
            checkedMaterials: {},
            search: "",
            numResults: 12,
            page: 1,
            order: "name",
            JSONitem: {
                list: [],
            }
        },
        created: function() {
            this.getTrainingTeachingMaterial();
            this.filteredItems();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            }
        },
        methods: {
            filteredItems: function() {
                var self = this;
                this.JSONfiltered = this.JSONitem.list.filter(function(pList) {
                    return pList.name.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            },

            addMaterial: function(pCode) {
                this.cant = document.getElementById('amount-' + pCode).value;
            },
            getTrainingTeachingMaterial: function() {
                let code = new URLSearchParams();
                code.append('data', JSON.stringify({
                    code: vjTrainingEditInExecution.getCode()
                }));
                axios.post("ajax/training/get-teaching-material", code).then(response => {
                    this.JSONselecteds = response.data.data;
                    this.JSONitem.list = response.data.data;
                    this.JSONfiltered = this.JSONitem.list;
                    this.orderBy(this.order);
                });
            },
            addTeachingMaterial: function() {
                let self = this
                this.JSONitem.list.forEach(function(element) {
                    if (element.selected === true) {
                        self.JSONmaterials.teachingMaterials.push(element);
                    }
                });
                let materials = new URLSearchParams();
                this.JSONmaterials.code = vjTrainingEditInExecution.getCode(),
                materials.append('data', JSON.stringify(this.JSONmaterials));
                axios.post("ajax/training/set-training-material", materials).then(response => {
                    this.JSONmaterials.code = "";
                    this.JSONmaterials.teachingMaterials = [];
                    this.getTrainingTeachingMaterial();
                });
            }
        }
    });
    setViewForUserType();
</script>
