<div id="trainingManage">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="m-3">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-7">
                            <div class="form-group">
                                <label for=""><small class="text-muted">C. Producción</small></label>
                                <div class="input-group mb-3">
                                    <select class="custom-select custom-select-sm" v-model="productionCenter">
                                            <option v-for="item in JSONview.productionCenterList" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="get"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                <option value="theme" selected>título</option>
                                <option value="process">Proceso</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="5" selected>5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar" v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mt-2 mx-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="my-table-col-1" scope="col">Gestionar</th>
                                        <th class="my-table-col-1" scope="col">Codigo</th>
                                        <th class="my-table-col-2" scope="col">Semana</th>
                                        <th class="my-table-col-3" scope="col">Título</th>
                                        <th class="my-table-col-3" scope="col">Proceso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td><a :href="'training/edit-in-execution#' + item.code" :id="item.code" name="button" class="btn btn-info btn-sm router-link" data-linkto="mainContent" data-toggle="modal"><i class="fas fa-user-cog"></i></a></td>
                                        <td>{{ item.code }}</td>
                                        <td>{{ item.week }}</td>
                                        <td>{{ item.theme }}</td>
                                        <td>{{ item.process }}</td>
                                    </tr>
                                    <tr v-if="filteredItems.length < 1">
                                        <td class="text-center" colspan="6"><span class="text-muted font-italic"> No se han encontrado capacitaciones.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingManage = new Vue({
        el: '#trainingManage',
        data: {
            search: "",
            numResults: 5,
            page: 1,
            order: "theme",
            productionCenter: null,
            JSONitem: {
                list: [],
                name: ""
            },
            JSONview: {
                productionCenterList: []
            }
        },
        created: function() {
            this.get();
            this.getProductionCenters();
            this.getProductionCenter();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONitem.list.filter(function(pList) {
                    return (pList.week.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 ||
                    pList.theme.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 ||
                    pList.process.toLowerCase().indexOf(self.search.toLowerCase()) >= 0 ||
                    pList.productionCenterName.toLowerCase().indexOf(self.search.toLowerCase()) >= 0) &&
                    pList.productionCenter.indexOf(self.productionCenter) >= 0;
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                this.JSONitem.list.sort(function(a, b) {
                    return a[pBy].toLowerCase() > b[pBy].toLowerCase();
                });
            },
            get: function() {
                axios.get("ajax/training/get-list-in-execution").then(response => {
                    this.JSONitem.list = response.data.data;
                    console.log(response.data);
                    this.orderBy(this.order);
                });
            },
            getProductionCenter: function() {
                axios.get("ajax/user/get-production-center").then(response => {
                    this.productionCenter = response.data.data.code;
                });
            },
            getProductionCenters: function() {
                axios.get("ajax/production-center/get").then(response => {
                    this.JSONview.productionCenterList = response.data.data;
                });
            }
        }
    });
</script>
