<div id="trainingEdit" @keyup.enter="editTraining">
    <div class="row">
        <div class="col-md-12">
            <div role="form" class="border rounded">
                <div class="form-title m-3">
                    <span class="float-right badge badge-pill badge-primary">Codigo: {{ JSONtraining.code}}</span>
                    <span class="float-right badge badge-pill badge-primary mr-2" data-toggle="tooltip" data-placement="left" title="Planeada"><i class="fas fa-hourglass-start"></i></span>
                    <span class="float-right badge badge-pill badge-success mr-2" data-toggle="tooltip" data-placement="left" title="Actualizar" @click="getItems"><i class="fas fa-sync-alt"></i></span>
                    <h5 class="text-primary">Editar Capacitación</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Fecha en semana</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|length|numeric" data-minlen="1" data-maxlen="2" placeholder="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" v-model="JSONtraining.week">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="">Fecha</label>
                              <input type="date" class="form-control" placeholder="YYYY-MM-DD" v-model="JSONtraining.date">
                           </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.productionCenter">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.productionCenter" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#production-center" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Proceso</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.process">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.process" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#process" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Título</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.theme">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.theme" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#theme" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Personas objetivo</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|numeric" placeholder="0" v-model="JSONtraining.targetPeople">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Horas planeadas</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|numeric" placeholder="0" v-model="JSONtraining.plannedHours">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirigido a</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.addressed">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.addressed" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#addressed" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Responsable</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.responsable">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.responsable" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#responsable" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="notus1">
                    <div class="row notus1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.state">
                                        <option v-for="item in JSONview.state" v-bind:value="item.code"> {{ item.name }}</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" @click="editTraining"> Guardar  </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal"> Cerrar  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingEdit = new Vue({
        el: '#trainingEdit',
        data: {
            JSONview: {
                productionCenter: [],
                process: [],
                theme: [],
                addressed: [],
                responsable: [],
                state: []
            },
            JSONtraining: {
                code: null,
                week: null,
                date: null,
                year: null,
                targetPeople: null,
                plannedHours: null,
                productionCenter: "",
                process: "",
                theme: "",
                addressed: "",
                responsable: "",
                state: ""
            }
        },
        created: function() {
            this.getItems();
            $('[data-toggle="popover"]').popover();
        },
        methods: {
            loadTrainingToEdit: function(pCode) {
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({ code: pCode }));
                axios.post("ajax/training/get-planned", params).then(response => {
                    this.JSONtraining = response.data.data;
                });
            },
            editTraining: function() {
                if (Validator("trainingEdit")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify(this.JSONtraining));
                    axios.post("ajax/training/edit-planned", params).then(response => {
                        if (response.data.status === "success") {
                            $('#modalTrainingEdit').modal('hide');
                            vjCalendarIndex.updateCalendar();
                        }
                    });
                }
            },
            getItems: function() {
                axios.get("ajax/training/get-items-planned").then(response => {
                    this.JSONview.productionCenter = response.data.data.productionCenters;
                    this.JSONview.process = response.data.data.process;
                    this.JSONview.theme = response.data.data.themes;
                    this.JSONview.addressed = response.data.data.addresseds;
                    this.JSONview.responsable = response.data.data.responsables;
                    this.JSONview.state = response.data.data.states;
                });
            }
        }
    });
    loadLibraries();
    setViewForUserType();
</script>
