<style media="screen">
    @media (min-width: 992px) {
        .modal-dialog {
            max-width: 80% !important;
        }
    }
</style>
<div id="trainingAssistantAndNotes">
   <div class="row">
      <div class="col-md-12">
         <div class="border rounded">
            <div class="m-3">
               <h5 class="text-primary">Asistencia y Nota</h5>
               <small class="form-text text-muted">Selecciona a los asistentes y asignale una nota</small>
            </div>
            <hr>
            <div class="m-3">
               <div class="row">
                  <div class="col-md-12">
                     <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                    <option value="code" selected>Doc. Identidad</option>
                                    <option value="name">Nombre</option>
                                    <option value="lastName">Apellidos</option>
                                </select>
                     <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                    <option value="50" selected>50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                </select>
                     <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar por apellido" v-model="search" @keyup="filteredItems">
                  </div>
               </div>
               <div class="row">
                  <div class="table-responsive mx-2">
                     <table class="my-table table table-hover mt-2 table-sm">
                        <thead>
                           <tr>
                              <th scope="col">#</th>
                              <th class="my-table-col-1" scope="col">
                                 <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="selectAll" v-model="selectedAll" @click="selectAll">
                                    <label class="custom-control-label" for="selectAll">Asistencia</label>
                                 </div>
                              </th>
                              <th class="my-table-col-1" scope="col">Nota</th>
                              <th class="my-table-col-2" scope="col">Doc. identidad</th>
                              <th class="my-table-col-2" scope="col">Apellidos</th>
                              <th class="my-table-col-2" scope="col">Nombre</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr v-for="(item, index) in JSONfiltered" v-if="(page - 1) * numResults <= index  && page * numResults > index">
                               <th scope="row">{{ index + 1 }}</th>
                              <td>
                                 <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input chk-tea-mat" :id="'assistants-' + item.code" name="assistants" :value="item.code"  v-model="item.assistant" @click="refreshSelectedAll">
                                    <label class="custom-control-label" :for="'assistants-' + item.code"><i class="fas fa-user-check"></i></label>
                                 </div>
                              </td>
                              <td><input type="number" min="0" max="100" class="form-control my-short form-control-sm" @keyup="onChange(item.code)"  v-model.number="item.score"></td>
                              <td>{{item.code}}</td>
                              <td>{{item.lastName}}</td>
                              <td>{{item.name}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <button type="button" class="btn btn-secondary btn-sm" v-if="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                       <button type="button" class="btn btn-secondary btn-sm" v-if="page * numResults / JSONassistants.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                   </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-4">
                  </div>

               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <button class="btn btn-primary" @click="addAssistantsAndNotes"> Guardar </button>
                        <button class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   var vjTrainingAssistantAndNotes = new Vue({
      el: '#trainingAssistantAndNotes',
      data: {
         JSONfiltered: [],
         selectedAll: false,
         //checkedAssistants: [],
         JSONassistants: {
            list: []
         },
         JSONassistantsSelected:{
            code:"",
            assistantsAndNotes:[]
         },
         search: "",
         numResults: 20,
         page: 1,
         order: "name"
      },
      created: function() {
         this.getAssistantsAndNotes();
         this.filteredItems();
      },
      watch: {
         numResults: function() {
            this.page = 1;
            this.refreshSelectedAll();
         },
         order: function() {
            this.orderBy(this.order);
         },
         page: function () {
             this.refreshSelectedAll();
         }
      },
      methods: {
          onChange: function(pCode) {
              var arrayFound = this.JSONfiltered.find(pItem => pItem.code == pCode);
                  if(arrayFound.score < 0 || arrayFound.score > 100) {
                      arrayFound.score = null;
                  }else if (!Number.isInteger(arrayFound.score)) {
                      arrayFound.score = null;
                  }
          },
          orderBy: function(pBy) {
              this.JSONassistants.list.sort(function(a, b) {
                  return a[pBy].toLowerCase() > b[pBy].toLowerCase();
              });
          },
         selectAll: function () {
             var self = this;
             $(".chk-tea-mat").each(function () {
                 var chkVal = parseInt($(this).val());
                 //var index = self.checkedAssistants.indexOf(chkVal);
                 if (!self.selectedAll) {
                     //if (index < 0) {
                         //self.checkedAssistants.push(chkVal);
                         self.JSONassistants.list.forEach(function(element) {
                             if (element.code == chkVal) {
                                 element.assistant = true
                             }
                         })
                     //}
                 } else {
                     //if (index > -1) {
                        // self.checkedAssistants.splice(index, 1);
                         self.JSONassistants.list.forEach(function(element) {
                             if (element.code == chkVal) {
                                 element.assistant = false
                             }
                         })
                     //}
                 }
             });
         },
         refreshSelectedAll: function () {
             var self = this;
             setTimeout(function(){
                 self.selectedAll = true;
                 $(".chk-tea-mat").each(function () {
                     var chkVal = parseInt($(this).val());
                     self.JSONassistants.list.forEach(function(element) {
                        if (element.code == chkVal) {
                             if (element.assistant === false) {
                                self.selectedAll = false;
                             }
                        }
                     })
                 });
             }, 1);
         },
         filteredItems: function() {
            var self = this;
            this.JSONfiltered = this.JSONassistants.list.filter(function(pList) {
               return pList.lastName.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
            });
         },
         getAssistantsAndNotes: function() {
            let code = new URLSearchParams();
            code.append('data', JSON.stringify({
               code: vjTrainingEnd.getCode()
            }));
            axios.post("ajax/training/get-assistance", code).then(response => {
               this.JSONassistants.list = response.data.data;
               this.JSONfiltered = this.JSONassistants.list;
               this.orderBy(this.order);
            });
         },addAssistantsAndNotes: function() {
             let percentEvaluate = vjTrainingEnd.getPercentEvaluate() ;
             console.log(percentEvaluate);
             let self = this;
             var countNotes = 0;
             this.JSONassistants.list.forEach(function(element) {
                 if (element.assistant === true) {
                     self.JSONassistantsSelected.assistantsAndNotes.push(element);
                     if (element.score != null) {
                         countNotes++;
                     }
                 }
             });
             var peopleToEvaluate = Math.ceil((this.JSONassistants.list.length * percentEvaluate) / 100);
             if (countNotes >= peopleToEvaluate) {
                 let assist = new URLSearchParams();
                 this.JSONassistantsSelected.code = vjTrainingEnd.getCode(),
                 assist.append('data', JSON.stringify(this.JSONassistantsSelected));
                 axios.post("ajax/training/set-assistance", assist).then(response => {
                     this.JSONassistantsSelected.code = "";
                     this.JSONassistantsSelected.assistantsAndNotes = [];
                     this.getAssistantsAndNotes();
                     this.refreshSelectedAll();
                 });
             }else {
                 ppAlert("alert", "error", {msg: 'Has ingresado ' + '<b>' + countNotes + '</b>' + ' de ' + '<b>' + peopleToEvaluate + '</b>' + ' notas' });
             }
         }
      }
   });
   loadLibraries();
</script>
