<div id="trainingManage">
    <div class="row">
        <div class="col-md-9">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Estados de Capacitación</h5>
                    <small class="text-muted">Selecciona un módulo</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="router-link" href="training/manage" data-linkto="mainContent"><i class="fas fa-chalkboard mr-1"></i>&nbsp;Gestionar capacitaciones en ejecución y seleccionar asistentes</a>
                            <span class="d-block m-2"></span>
                            <a class="router-link" href="training/end" data-linkto="mainContent"><i class="fas fa-hourglass-end ml-1 mr-2"></i>&nbsp;Finalizar capacitación, agregar asistencia y calificación</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
