<div id="trainingNew" @keyup.enter="newTraining">
    <div class="row">
        <div class="col-md-12">
            <div role="form" class="border rounded">
                <div class="form-title m-3">
                    <span class="float-right badge badge-pill badge-primary mr-2" data-toggle="tooltip" data-placement="left" title="Planeada"><i class="fas fa-hourglass-start"></i></span>
                    <span class="float-right badge badge-pill badge-success mr-2" data-toggle="tooltip" data-placement="left" title="Actualizar" @click="getItems"><i class="fas fa-sync-alt"></i></span>
                    <h5 class="text-primary">Crear Capacitación</h5>
                    <small id="emailHelp" class="form-text text-muted">Recuerda que puedes editarla mas tarde</small>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Fecha en semana</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|length|numeric" data-minlen="1" data-maxlen="2" placeholder="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" v-model="JSONtraining.week">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.productionCenter">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.productionCenter" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#production-center" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Proceso</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.process">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.process" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#process" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Título</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.theme">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.theme" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#theme" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Personas objetivo</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|numeric" v-model="JSONtraining.targetPeople">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Horas planeadas</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="required|numeric" v-model="JSONtraining.plannedHours">
                                <div class="invalid-feedback">
                                    Numero invalido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirigido a</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.addressed">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.addressed" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#addressed" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Responsable</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.responsable">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.responsable" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#responsable" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" @click="newTraining"> Crear  </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-block" data-dismiss="modal"> Cerrar  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingNew = new Vue({
        el: '#trainingNew',
        data: {
            JSONview: {
                productionCenter: [],
                process: [],
                theme: [],
                addressed: [],
                responsable: []
            },
            JSONtraining: {
                week: null,
                year: null,
                date: null,
                targetPeople: null,
                plannedHours: null,
                productionCenter: "",
                process: "",
                theme: "",
                addressed: "",
                responsable: ""
            },
            JSONitem: {
                productionCenter: {},
                process: {},
                theme: {},
                addressed: {},
                responsable: {}
            }
        },
        created: function() {
            this.getItems();
            $('[data-toggle="popover"]').popover();
        },
        methods: {
            loadSelected: function(pYear, pWeek, pProductionCenter, pSelectedDate) {
                this.JSONtraining.year = pYear;
                this.JSONtraining.productionCenter = pProductionCenter;
                if (pSelectedDate !== null) {
                    this.JSONtraining.selectedDate = pSelectedDate;
                } else {
                    this.JSONtraining.selectedDate = null;
                }
                if (pWeek !== null) {
                    this.JSONtraining.week = pWeek;
                } else {
                    this.JSONtraining.week = null;
                }
                console.log(JSON.stringify(this.JSONtraining));
            },
            newTraining: function() {
                if (Validator("trainingNew")) {
                    if (this.JSONtraining.week == 1) {
                        if (this.JSONtraining.selectedDate !== null) {
                            if (+this.JSONtraining.selectedDate > 28) {
                                this.JSONtraining.year++;
                            }
                        }
                    }
                    if (this.JSONtraining.week > 51) {
                        if (this.JSONtraining.selectedDate !== null) {
                            if (+this.JSONtraining.selectedDate < 4) {
                                this.JSONtraining.year--;
                            }
                        }
                    }
                    this.JSONtraining.date = moment(this.JSONtraining.week + " " + this.JSONtraining.year, "WW GGGG").format("YYYY-MM-DD");
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify(this.JSONtraining));
                    axios.post("ajax/training/new", params).then(response => {
                        console.log(response.data);
                        if (response.data.status == "success") {
                            this.JSONtraining.targetPeople = null,
                                this.JSONtraining.plannedHours = null,
                                this.JSONtraining.process = "",
                                this.JSONtraining.theme = "",
                                this.JSONtraining.addressed = "",
                                this.JSONtraining.responsable = "",
                                ValidatorRemoveFeed("trainingNew");
                            vjCalendarIndex.updateCalendar();
                        }
                    });
                }
            },
            getItems: function() {
                axios.get("ajax/training/get-items-planned").then(response => {
                    this.JSONview.productionCenter = response.data.data.productionCenters;
                    this.JSONview.process = response.data.data.process;
                    this.JSONview.theme = response.data.data.themes;
                    this.JSONview.addressed = response.data.data.addresseds;
                    this.JSONview.responsable = response.data.data.responsables;
                });
            },
        }
    });
    loadLibraries();
    setViewForUserType();
</script>
