<style media="screen">
    @media (min-width: 992px) {
        .modal-dialog {
            max-width: 90% !important;
        }
    }
</style>
<div id="trainingViewAssistants">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Ver Personal</h5>
                </div>
                <hr>
                <div class="form-body m-3">

                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="getAssistance"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="sort">
                                <option value="asc">Asc</option>
                                <option value="desc">Desc</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                <option value="code" selected>Doc. Identidad</option>
                                <option value="name">Nombre</option>
                                <option value="lastName">Apellidos</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                            <span class="text-muted font-italic float-right mr-2"> <small>Resultados : {{ filteredItems.length }}</small> </span>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar" v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mx-2 mt-2">
                            <table class="my-table table table-sm table-hover">
                                <thead>
                                    <tr>
                                        <th class="my-table-col" scope="col">#</th>
                                        <th class="my-table-col-1" scope="col">Asistencia</th>
                                        <th class="my-table-col-2" scope="col">Doc. identidad</th>
                                        <th class="my-table-col-2" scope="col">Calificación</th>
                                        <th class="my-table-col-3" scope="col">Apellidos</th>
                                        <th class="my-table-col-3" scope="col">Nombre</th>
                                        <th class="my-table-col-5" scope="col">C.Costos</th>
                                        <th class="my-table-col-3" scope="col">C.Produccion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-if="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" disabled class="custom-control-input chk-tea-mat" :id="'assistants-' + item.code" name="assistants" :value="item.code" v-model="item.assistant" >
                                                <label class="custom-control-label" :for="'assistants-' + item.code"><i class="fas fa-user-check"></i></label>
                                            </div>
                                        </td>
                                        <td>{{ item.code }}</td>
                                        <td>{{ item.score }}</td>
                                        <td>{{ item.lastName }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.costCenter }}</td>
                                        <td>{{ item.productionCenter }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <b>Total Nota: {{totalScore}} %</b>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-if="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-if="page * numResults / JSONassistants.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingViewAssistants = new Vue({
        el: '#trainingViewAssistants',
        data: {
            search: "",
            numResults: 10,
            page: 1,
            order: "code",
            sort: "desc",
            totalScore: 0,
            targetPeople: 0,
            JSONassistants: {
                list: []
            }
        },
        created: function() {
            this.getAssistance();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            },
            page: function () {
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONassistants.list.filter(function(pList) {
                    return pList.lastName.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                var self = this;
                this.JSONassistants.list.sort(function(a, b) {
                    if (self.sort == "desc") {
                        return toString(a[pBy]).toLowerCase() < toString(b[pBy]).toLowerCase();
                    } else {
                        return toString(a[pBy]).toLowerCase() > toString(b[pBy]).toLowerCase();
                    }
                });
            },
            /*get: function() {
                axios.get("ajax/employee/get-all").then(response => {
                    this.JSONassistants.list = response.data.data;
                    this.orderBy(this.order);
                });
            },*/
            getAssistance: function() {
               let code = new URLSearchParams();
               code.append('data', JSON.stringify({
                  code: vjTrainingView.getCode()
               }));
               axios.post("ajax/training/get-assistance", code).then(response => {
                  this.JSONassistants.list = response.data.data;
                  this.getScore();
               });
            },
            getScore: function(){
                var countScore = 0, sumScore = 0;
                this.JSONassistants.list.forEach( function(value, index) {
                  if(value.score != null){
                    sumScore += +value.score;
                    countScore++;
                  }
                  console.log(JSON.stringify(value));
                });
                this.totalScore = sumScore / countScore;
            }
        }
    });
</script>
