<div id="trainingView">
   <div class="row">
      <div class="col-md-9">
         <div role="form" class="border rounded mb-2">
            <div class="form-title m-3">
               <span class="float-right badge badge-pill badge-primary">Codigo: {{ JSONtraining.code }}</span>
               <span class="float-right badge badge-pill badge-info mr-2" data-toggle="tooltip" data-placement="left" title="Ver"><i class="fas fa-eye"></i></span>
               <h5 class="text-primary">Ver Capacitación</h5>
               <small class="text-muted">Ultima actualizacion el 13-12-2018</small>
            </div>
            <hr>
            <div class="form-body m-3">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Fecha</label>
                        <input type="date" class="form-control" disabled v-model="JSONtraining.date">
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Hora inicio</label>
                        <div class="input-group">
                           <input type="text" class="form-control" disabled v-model="JSONtraining.startTime">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Hora Fin</label>
                        <div class="input-group">
                           <input type="text" class="form-control" disabled v-model="JSONtraining.endTime">
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Título</label>
                        <div class="input-group">
                           <input type="text" class="form-control" disabled data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.theme">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Contenido</label>
                        <textarea class="form-control" name="name" rows="2" cols="40" disabled v-model="JSONtraining.content"></textarea>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Objetivo</label>
                        <textarea class="form-control" name="name" rows="2" cols="40" disabled v-model="JSONtraining.objective"></textarea>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Centro de producción</label>
                        <div class="input-group">
                           <input type="text" class="form-control validator" disabled data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.productionCenter">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Proceso</label>
                        <div class="input-group">
                           <input type="text" class="form-control validator" disabled data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.process">
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Lugar</label>
                        <div class="input-group">
                           <input type="text" class="form-control" disabled data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.place">
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>% Personas a evaluar</label>
                        <div class="input-group">
                           <input type="text" disabled class="form-control my-short-2" v-model="JSONtraining.percentEvaluate">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Ubicacion A-Z</label>
                        <input type="text" disabled class="form-control my-short-2" v-model="JSONtraining.az">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Material(es) utilizados</label>
                        <div class="input-group">
                           <textarea class="form-control" name="name" rows="2" cols="40" disabled v-model="JSONtraining.materials"></textarea>
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Dirigido a</label>
                        <div class="input-group">
                           <input type="text" class="form-control validator" disabled data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.addressed">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Responsable</label>
                        <div class="input-group">
                           <input type="text" class="form-control validator" disabled data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.responsable">
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Responsable Proceso</label>
                        <input type="text" disabled class="form-control"  v-model="JSONtraining.responsableName">
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="">Capacitador</label>
                        <input type="text" disabled class="form-control"  v-model="JSONtraining.trainerName">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>Cargo capacitador</label>
                        <div class="input-group">
                           <input type="text" class="form-control validator" disabled data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.trainerPosition">
                        </div>
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>No. Personas objetivo</label>
                        <input type="number" disabled class="form-control my-short-1" v-model="JSONtraining.targetPeople">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label>No. Horas planeadas</label>
                        <input type="number" disabled class="form-control my-short-1" v-model="JSONtraining.plannedHours">
                     </div>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-3 offset-md-3">
                     <div class="form-group">
                        <button class="btn btn-primary btn-block">Aceptar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="border rounded">
            <div class="m-3">
               <h5 class="text-primary">Opciones</h5>
               <small class="text-muted">Opciones adicionales</small>
            </div>
            <hr>
            <div class="m-3">
               <div class="row">
                  <div class="col-md-12">
                     <button class="btn btn-link" data-toggle="modal" data-target="#modalviewAssistants" @click="loadViewAssistants"><i class="fas fa-cart-plus mr-2"></i> Ver Asistentes</button>
                  </div>
               </div>
               <hr>
               <div class="row">
                  <div class="col-md-12">
                     <button class="btn btn-warning btn-sm btn-block" @click="url"><i class="far fa-file-alt mr-2"></i>Formato de asistencia</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div id="modalviewAssistants" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-view-assistants" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
            <div id="containerviewAssistants"></div>
         </div>
      </div>
   </div>
</div>
<script type="text/javascript">
   var vjTrainingView = new Vue({
      el: '#trainingView',
      data: {
         trainingSelected: "",
         JSONview: {
            selectedTheme: {},
            addAssistants: {
               loaded: false
            }
         },
         JSONtraining: {
         },
      },
      created: function() {
         this.getHash();
         this.getView();
      },
      methods: {
          url: function() {
                  this.getView();
                  window.open('documents/assistance?code=' + this.JSONtraining.code, '_blank');
            },
         getCode: function() {
            return this.JSONtraining.code;
         },
         loadThemeInfo: function() {
            var self = this;
            var item = this.JSONview.theme.find(pItem =>
               pItem.code == self.JSONtraining.theme
            );
            this.JSONview.selectedTheme = Object.assign({}, item);
         },
         loadViewAssistants: function() {
            if (!this.JSONview.addAssistants.loaded) {
               axios.get("component/training/view-assistants").then(response => {
                  $("#containerviewAssistants").html(response.data)
               });
               this.JSONview.addAssistants.loaded = true;
            }
         },
         getView: function() {
            let params = new URLSearchParams();
            params.append('data', JSON.stringify({
               code: this.trainingSelected
            }));
            axios.post("ajax/training/get-to-view", params).then(response => {
               console.log(JSON.stringify(response.data.data));
               this.JSONtraining = response.data.data;
               //this.loadThemeInfo();
               if (this.JSONtraining.startTime != null) {
                  this.JSONtraining.startTime = moment(this.JSONtraining.startTime, "HH:mm").format("hh:mm A");
               }
               if (this.JSONtraining.endTime != null) {
                  this.JSONtraining.endTime = moment(this.JSONtraining.endTime, "HH:mm").format("hh:mm A");
               }
            });
         },
         getHash: function() {
            var selected, hash = location.hash.substr(1);
            if (hash !== "") {
               this.trainingSelected = hash;
            } else {
               this.trainingSelected = "";
            }
         }
      }
   });
   loadLibraries();
</script>
