<div id="trainingEditInExecution">
    <div class="row">
        <div class="col-md-9">
            <div role="form" class="border rounded mb-2">
                <div class="form-title m-3">
                    <span class="float-right badge badge-pill badge-primary">Codigo: {{ JSONtraining.code }}</span>
                    <span class="float-right badge badge-pill badge-primary mr-2" data-toggle="tooltip" data-placement="left" title="Actualizar" @click="getItems"><i class="fas fa-sync-alt"></i></span>
                    <span class="float-right badge badge-pill badge-warning mr-2" data-toggle="tooltip" data-placement="left" title="En ejecución"><i class="fas fa-hourglass-start"></i></span>
                    <h5 class="text-primary">Actualizar Capacitación</h5>
                </div>
                <hr>
                <div id="trainingEdit" class="form-body m-3" @keyup.enter="updateTrainingInExecution">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Fecha</label>
                                <input type="date" class="form-control validator" data-validator="noEmpty" placeholder="YYYY-MM-DD" v-model="JSONtraining.date">
                                <div class="invalid-feedback">
                                  Fecha inválida.
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Hora inicio</label>
                                <div class="input-group">
                                    <select class="custom-select my-short validator" data-validator="numeric" v-model="JSONtrainingTime.hour">
                              <option value=""> hh</option>
                              <option v-for="item in JSONtime.hour" v-bind:value="item"> {{item}}</option>
                           </select>
                                    <select class="custom-select my-short validator" data-validator="numeric" v-model="JSONtrainingTime.minutes">
                              <option value=""> mm</option>
                              <option v-for="minutes in JSONtime.minutes" v-bind:value="minutes"> {{minutes}}</option>
                           </select>
                                    <select class="custom-select my-short-2" v-model="JSONtrainingTime.horary">
                             <option selected value="AM"> AM</option>
                             <option value="PM"> PM</option>
                           </select>
                           <div class="invalid-feedback">
                              Hora inválida.
                           </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Título</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="noEmpty" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.theme">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.theme" v-bind:value="item.code" :id="item.code" @click="loadThemeInfo"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#theme" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Contenido</label>
                                <textarea class="form-control" name="name" rows="2" cols="40" disabled v-model="JSONview.selectedTheme.content"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Objetivo</label>
                                <textarea class="form-control" name="name" rows="2" cols="40" disabled v-model="JSONview.selectedTheme.objective"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <div class="input-group">
                                    <select class="custom-select" disabled data-validator="noEmpty" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.productionCenter">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.productionCenter" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#production-center" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Proceso</label>
                                <div class="input-group">
                                    <select class="custom-select" disabled data-validator="noEmpty" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.process">
                                            <option value="">Seleccione...</option>
                                            <option v-for="item in JSONview.process" v-bind:value="item.code"> {{ item.name }}</option>
                                        </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#process" target="_blank">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Lugar</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.place">
                                       <option value="null">Selecciona...</option>
                                       <option v-for="item in JSONview.place" v-bind:value="item.code"> {{ item.name }}</option>
                                    </select>
                                    <div class="input-group-prepend notus1">
                                       <a class="btn btn-outline-primary" href="user/manage-items#place" target="_blank">
                                          <i class="fas fa-plus-circle"></i>
                                       </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Material(es) a utilizar</label>
                                <div class="input-group">
                                    <button class="btn btn-link" data-toggle="modal" data-target="#modaladdTeachingMaterial" @click="loadAddTeachingMaterial"> <i class="far fa-list-alt mr-2"></i> Seleccionar </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>% Personas a evaluar</label>
                                <div class="input-group">
                                    <input type="text" class="form-control my-short" placeholder="Ej. 20 %" v-model="JSONtraining.percentEvaluate">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Ubicacion A-Z</label>
                                <input type="text" disabled class="form-control my-short-2" v-model="JSONtraining.az">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Dirigido a</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="noEmpty" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.addressed">
                              <option value="">Seleccione...</option>
                              <option v-for="item in JSONview.addressed" v-bind:value="item.code"> {{ item.name }}</option>
                           </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#addressed" target="_blank">
                                 <i class="fas fa-plus-circle"></i>
                              </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Responsable</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="noEmpty" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.responsable">
                              <option value="">Seleccione...</option>
                              <option v-for="item in JSONview.responsable" v-bind:value="item.code"> {{ item.name }}</option>
                           </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#responsable" target="_blank">
                                 <i class="fas fa-plus-circle"></i>
                              </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Responsable Proceso</label>
                                <input type="text" class="form-control validator" data-validator="noEmpty" placeholder="Nombre del responsable" v-model="JSONtraining.responsableName">
                                <div class="invalid-feedback">
                                    nombre inválido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Capacitador</label>
                                <input type="text" class="form-control validator" data-validator="noEmpty" placeholder="Nombre del capacitador" v-model="JSONtraining.trainerName">
                                <div class="invalid-feedback">
                                    Seleccione una opción.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cargo capacitador</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONtraining.trainerPosition">
                              <option value="null">Seleccione...</option>
                              <option v-for="item in JSONview.trainerPosition" v-bind:value="item.code"> {{ item.name }}</option>
                           </select>
                                    <div class="input-group-prepend notus1">
                                        <a class="btn btn-outline-primary" href="user/manage-items#trainer-position" target="_blank">
                                 <i class="fas fa-plus-circle"></i>
                              </a>
                                    </div>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Personas objetivo</label>
                                <input type="number" class="form-control my-short-1 validator" data-validator="numeric" v-model="JSONtraining.targetPeople">
                                <div class="invalid-feedback">
                                    Numero inválido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>No. Horas planeadas</label>
                                <input type="text" class="form-control my-short-1 validator" data-validator="decimal" v-model="JSONtraining.plannedHours">
                                <div class="invalid-feedback">
                                    Hora inválida.
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" @click="updateTrainingInExecution">Guardar</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-block">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Opciones</h5>
                    <small class="text-muted">Opciones adicionales</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-link" data-toggle="modal" data-target="#modaladdAssistants" @click="loadAddAssistants"><i class="fas fa-cart-plus mr-2"></i> Agregar Asistentes</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-warning btn-sm btn-block" @click="url"><i class="far fa-file-alt mr-2"></i>Formato de asistencia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modaladdTeachingMaterial" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-add-teaching-material" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="containeraddTeachingMaterial"></div>
            </div>
        </div>
    </div>
    <div id="modaladdAssistants" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-training-add-assistants" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="containeraddAssistants"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjTrainingEditInExecution = new Vue({
        el: '#trainingEditInExecution',
        data: {
            trainingSelected: "",
            JSONtime: {
                hour: [],
                minutes: []
            },
            JSONview: {
               productionCenter: [],//
               process: [],//
               theme: [],//
               place:[],//
               addressed: [],//
               responsable: [],//
               trainerPosition: [],

                selectedTheme: {},
                addTeachingMaterial: {
                    loaded: false
                },
                addAssistants: {
                    loaded: false
                }
            },
            JSONtrainingTime: {
                hour: "",
                minutes: "",
                horary: "AM"
            },
            JSONtraining: {
               code: "",
               state: "",
               targetPeople: "",
               year: "",
               week: "",
               date: "",
               productionCenter: "",
               process: "",
               theme: "",
               plannedHours: "",
               addressed: "",
               responsable: "",
               place: "",
               percentEvaluate: "",
               startTime: "",
               responsableName: "",
               trainerName: "",
               trainerPosition: "",
               az: ""
            },
        },
        created: function() {
            this.getItems();
            this.getHash();
            this.getTime();
            this.getInExecution();
        },
        methods: {
            url: function() {
               if (Validator("trainingEdit")) {
                  this.updateTrainingInExecution();
                  window.open('documents/assistance?code=' + this.JSONtraining.code, '_blank');
               }
            },
            getTime: function() {
                for (var i = 01; i < 13; i++) {
                    this.JSONtime.hour.push((i).toLocaleString('en-US', {
                        minimumIntegerDigits: 2,
                        useGrouping: false
                    }));
                }
                for (var i = 00; i < 60; i++) {
                    this.JSONtime.minutes.push((i).toLocaleString('en-US', {
                        minimumIntegerDigits: 2,
                        useGrouping: false
                    }));
                }
            },
            getCode: function() {
                return this.JSONtraining.code;
            },
            getTargetPeople: function() {
                return this.JSONtraining.targetPeople;
            },
            loadThemeInfo: function() {
                var self = this;
                var item = this.JSONview.theme.find(pItem =>
                    pItem.code == self.JSONtraining.theme
                );
                this.JSONview.selectedTheme = Object.assign({}, item);
            },
            loadAddTeachingMaterial: function() {
                if (!this.JSONview.addTeachingMaterial.loaded) {
                    axios.get("component/training/add-teaching-material").then(response => {
                        $("#containeraddTeachingMaterial").html(response.data)
                    });
                    this.JSONview.addTeachingMaterial.loaded = true;
                }
            },
            loadAddAssistants: function() {
                if (!this.JSONview.addAssistants.loaded) {
                    axios.get("component/training/add-assistants").then(response => {
                        $("#containeraddAssistants").html(response.data)
                    });
                    this.JSONview.addAssistants.loaded = true;
                }
            },
            getInExecution: function() {
                let params = new URLSearchParams();
                params.append('data', JSON.stringify({
                    code: this.trainingSelected
                }));
                axios.post("ajax/training/get-in-execution", params).then(response => {
                    this.JSONtraining = response.data.data;
                    console.log(JSON.stringify(this.JSONtraining));
                    this.loadThemeInfo();
                  if (this.JSONtraining.startTime != null) {
                    var temp = moment(this.JSONtraining.startTime, "HH:mm").format("hh:mm A");
                    var separators = [':', ' '];
                    var temp2 = temp.split(new RegExp(separators.join('|'), 'g'));
                    this.JSONtrainingTime.hour = temp2[0];
                    this.JSONtrainingTime.minutes = temp2[1];
                    this.JSONtrainingTime.horary = temp2[2];
                  }
                });
            },
            getItems: function() {
                axios.get("ajax/training/get-items-in-execution").then(response => {
                    this.JSONview.productionCenter = response.data.data.productionCenters;
                    this.JSONview.process = response.data.data.process;
                    this.JSONview.theme = response.data.data.themes;
                    this.JSONview.addressed = response.data.data.addresseds;
                    this.JSONview.responsable = response.data.data.responsables;
                    this.JSONview.place = response.data.data.places;
                    this.JSONview.trainerPosition = response.data.data.trainerPositions;
                });
            },
            getHash: function() {
                var selected, hash = location.hash.substr(1);
                if (hash !== "") {
                    this.trainingSelected = hash;
                } else {
                    this.trainingSelected = "";
                }
            },
            updateTrainingInExecution: function() {
               if (Validator("trainingEdit")) {
                   var time = this.JSONtrainingTime.hour + ":" + this.JSONtrainingTime.minutes + " " + this.JSONtrainingTime.horary
                   this.JSONtraining.startTime = moment(time, "h:mm A").format("HH:mm");
                   this.JSONtraining.code = this.trainingSelected;
                   let params = new URLSearchParams();
                   params.append('data', JSON.stringify(this.JSONtraining));
                   axios.post("ajax/training/edit-in-execution", params).then(response => {
                       if (response.data.status === "success") {
                           this.getInExecution();
                       }
                   });
                }
            }
        }
    });
    loadLibraries();
    setViewForUserType();
</script>
