<div class="pp-alert">
    <span id="pp-alert-tooltip" data-toggle="tooltip" data-placement="right">
        <span id="pp-alert-span" class="pp-alert-span pp-alert-badge badge badge-success text-center" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-html="true">
            <i id="pp-alert-icon" class="fas fa-check"></i>
        </span>
    </span>
</div>
