<div id="userEdit">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Modificar Usuario</h5>
                    <small class="form-text text-muted">Un usuario solo puede acceder a la aplicación si esta registrado en el directorio activo</small>
                </div>
                <hr>
                <div class="form-body m-3" @keyup.enter="editUser">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Documento de identidad</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" disabled v-model="JSONuser.code">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Usuario Capiro</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" v-model="JSONuser.nick">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" disabled v-model="JSONuser.name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellidos</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" disabled v-model="JSONuser.lastName">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Centro de Producción</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" disabled v-model="JSONuser.productionCenter">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tipo usuario</label>
                                <select class="custom-select my-form-control" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONuser.type">
                                        <option v-for="item in JSONview.userType" v-bind:value="item.code">{{ item.type }}</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado</label>
                                <select class="custom-select" v-model="JSONuser.state">
                                        <option value="1" selected>Activo</option>
                                        <option value="0">Inactivo</option>
                                  </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-primary" @click="editUser">Guardar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-danger float-right" @click="deleteUser">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
        var vjUserEdit = new Vue({
            el: '#userEdit',
            data: {
                JSONview: {
                    userType: []
                },
                JSONuser: {}
            },
            created: function() {
                this.getUserType();
                $('[data-toggle="popover"]').popover();
            },
            methods: {
                getUserType: function() {
                    axios.get("ajax/user/get-user-type").then(response => {
                        this.JSONview.userType = response.data.data;
                    });
                },
                loadUserToEdit: function(pCode) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        "code": pCode
                    }));
                    axios.post("ajax/user/get-to-edit", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            this.JSONuser = response.data.data;
                        }
                    });
                },
                editUser: function() {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify(this.JSONuser));
                    axios.post("ajax/user/edit", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            vjUserManageUsers.getAll();
                        }
                    });
                },
                deleteUser: function() {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        code: this.JSONuser.code
                    }));
                    axios.post("ajax/user/delete", params).then(response => {
                        console.log(response);
                        if (response.data.status === "success") {
                            vjUserManageUsers.getAll();
                            $('#modalUserEdit').modal('hide');
                        }
                    });
                }
            }
        });
    </script>
