<div id="userIndex">
    <div class="row">
        <div class="col-md-6">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Opciones de usuario</h5>
                    <small class="text-muted">Selecciona que quieres hacer.</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="router-link" href="user/account" data-linkto="mainContent"><i class="fas fa-user mr-3"></i>Cuenta</a>
                            <span class="d-block m-2"></span>
                            <a class="" href="help" target="_blank"><i class="fas fa-question-circle mr-3"></i>Ayuda</a>
                            <span class="d-block m-2"></span>
                            <a class="router-link" href="user/config" data-linkto="mainContent"><i class="fas fa-cog mr-3"></i>Configuraciones</a>
                            <hr class="notus1">
                            <h6 class="text-muted notus1">Opciones de administrador</h6>
                            <a class="router-link notus1" href="user/manage" data-linkto="mainContent"><i class="fas fa-user-tie mr-3"></i>Módulo de gestión</a>
                            <hr>
                            <a class="" href="ajax/user/sign-out"><i class="fas fa-power-off mr-3"></i>Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setViewForUserType();
</script>
