<div id="userManageItems">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Gestionar Item</h5>
                    <small class="text-muted">Selecciona un item, para empezar a gestionarlo.</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Item</label>
                                <select class="custom-select" v-model="itemSelected">
                                    <option value="trainer-position">Cargo Capacitador</option>
                                    <option value="production-center">Centro de Producción</option>
                                    <option value="addressed">Dirigido a</option>
                                    <option value="place">Lugar</option>
                                    <option value="teaching-material">Material Didactico</option>
                                    <option value="process">Proceso</option>
                                    <option value="responsable">Responsable</option>
                                    <option value="theme">Título</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerItem"></div>
</div>
<script type="text/javascript">
    var vjUserManageItems = new Vue({
        el: '#userManageItems',
        data: {
            itemSelected: "trainer-position",
            possibleSelected: [
                "trainer-position", "production-center", "addressed", "place", "teaching-material", "process", "responsable", "theme"
            ]
        },
        created: function() {
            this.loadItem();
            this.getHash();
        },
        methods: {
            loadItem: function () {
                axios.get("component" + "/item/" + this.itemSelected).then(response => {$("#containerItem").html(response.data);});
            },
            getHash: function () {
                var selected, hash = location.hash.substr(1);
                if (hash !== "" && this.possibleSelected.indexOf(hash) !== -1) {
                    this.itemSelected = hash;
                }
            }
        },
        watch: {
            itemSelected: function () {
                this.loadItem();
            }
        }
    });
</script>
