<div id="userNotifications">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Notificaciones</h5>
                    <small class="text-muted">Todas tus Notificaciones.</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="getAll"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="10" selected>10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar..." v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mt-2 mx-2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="my-table-col-3" scope="col">Titulo</th>
                                        <th class="my-table-col-1" scope="col">Fecha</th>
                                        <th class="my-table-col-4" scope="col">Mensaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.message }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjUserNotifications = new Vue({
        el: '#userNotifications',
        data: {
            search: "",
            numResults: 10,
            page: 1,
            JSONitem: {
                list: []
            }
        },
        created: function() {
            this.getAll();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONitem.list.filter(function(pList) {
                    return pList.title.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
        methods: {
            getAll: function() {
                axios.get("ajax/user/get-all-notifications").then(response => {
                    this.JSONitem.list = response.data.data;
                });
            }
        }
    });
</script>
