<div id="userManageUsers">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Gestionar Usuarios</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-inline">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Buscar por documento" v-model="search">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="float-right btn btn-primary" data-toggle="modal" data-target="#modalUserNew" @click="loadUserNew"><i class="fas fa-plus"></i></button>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="col-md-12">
                                <small class="text-muted align-middle">Hay {{ JSONuser.list.length }} usuario{{ JSONuser.list.length > 1 ? "s" : ""}} registrado{{ JSONuser.list.length > 1 ? "s" : ""}}</small>
                                <button class="float-right btn btn-success btn-sm ml-2" @click="getAll"><i class="fas fa-sync-alt"></i></button>
                                <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                    <option value="code" selected>Doc. Identidad</option>
                                    <option value="name">Nombre</option>
                                    <option value="lastName">Apellidos</option>
                                    <option value="productionCenter">Apellidos</option>
                                    <option value="type">Tipo</option>
                                    <option value="state">Estado</option>
                                </select>
                                <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive mt-2 mx-2">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th class="my-table-col-1" scope="col">Gestionar</th>
                                            <th class="my-table-col-2" scope="col">Doc. identidad</th>
                                            <th class="my-table-col-2" scope="col">Nombre</th>
                                            <th class="my-table-col-2" scope="col">Apellidos</th>
                                            <th class="my-table-col-2" scope="col">C. Producción</th>
                                            <th class="my-table-col-2" scope="col">Tipo</th>
                                            <th class="my-table-col-1" scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in filteredItems" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                            <th scope="row">{{ index + 1 }}</th>
                                            <td><button type="button" name="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalUserEdit" @click="loadUserToEdit(item.code)"><i class="fas fa-user-cog"></i></button></td>
                                            <td>{{ item.code }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.lastName }}</td>
                                            <td>{{ item.productionCenter }}</td>
                                            <td>{{ item.typeName }}</td>
                                            <td v-if="item.state == 1">Activo</td>
                                            <td v-else>Inactivo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                                <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONuser.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modalUserEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-user-edit" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="containerUserEdit"></div>
            </div>
        </div>
    </div>
    <div id="modalUserNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-user-new" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div id="containerUserNew"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjUserManageUsers = new Vue({
        el: '#userManageUsers',
        data: {
            search: "",
            numResults: 5,
            page: 1,
            order: "code",
            JSONview: {
                userNew: {
                    loaded: false
                },
                userEdit: {
                    loaded: false
                }
            },
            JSONuser: {
                list: []
            }
        },
        created: function() {
            this.getAll();
            axios.get("component/user/edit").then(response => {$("#containerUserEdit").html(response.data)});
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONuser.list.filter(function(pList) {
                    return pList.code.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                this.JSONuser.list.sort(function(a, b) {
                    return a[pBy].toLowerCase() > b[pBy].toLowerCase();
                });
            },
            getAll: function() {
                axios.get("ajax/user/get-users").then(response => {
                    if (response.data.status === "success") {
                        this.JSONuser.list = response.data.data;
                        this.orderBy(this.order);
                    } else {
                        this.JSONuser.list = [];
                    }
                });
            },
            loadUserNew: function () {
                if (!this.JSONview.userNew.loaded) {
                    axios.get("component/user/new").then(response => {$("#containerUserNew").html(response.data)});
                    this.JSONview.userNew.loaded = true;
                }
            },
            loadUserToEdit: function (pCode) {
                vjUserEdit.loadUserToEdit(pCode);
            }
        }
    });
</script>
