<div id="userManage">
    <div class="row">
        <div class="col-md-9">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Módulo de Gestión</h5>
                    <small class="text-muted">Selecciona un módulo, para empezar a gestionarlo.</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="router-link notus2" href="user/manage-users" data-linkto="mainContent"><i class="fas fa-users-cog mr-2"></i>&nbsp;Usuarios</a>
                            <span class="d-block m-2 notus2"></span>
                            <a class="router-link" href="user/manage-items" data-linkto="mainContent"><i class="fas fa-cubes mr-3"></i>Items</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    setViewForUserType();
</script>
