<div id="userNew">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Crear Usuario</h5>
                    <small id="emailHelp" class="form-text text-muted">Un usuario solo puede acceder a la aplicación si esta registrado en el directorio activo</small>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div>
                        <div class="row" @keyup.enter="checkUser">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Documento de identidad</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control control-enabled validator" data-validator="required|alphaNumeric|length" data-minlen="8" data-maxlen="15" placeholder="" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-html="true" data-content="Requerido<br>-Alfanumerico, de maximo 15 caracteres" v-model="JSONuser.code">
                                        <div class="invalid-feedback">
                                            Documento invalido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Usuario Capiro</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control control-enabled validator" data-validator="required|length" data-minlen="1" data-maxlen="30" placeholder="@capiro.co" v-model="JSONuser.nick">
                                        <div class="invalid-feedback">
                                            Usuario invalido.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button class="btn btn-success" type="button" @click="checkUser"><i class="fas fa-user-check mr-2"></i> Verificar disponibilidad</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control " placeholder="" disabled v-model="JSONuser.name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apellidos</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control " placeholder="" disabled v-model="JSONuser.lastName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Centro de Producción</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control " placeholder="" disabled v-model="JSONuser.productionCenter">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tipo usuario</label>
                                    <select class="custom-select my-form-control" data-toggle="popover" data-trigger="focus" data-placement="top" data-html="true" data-content="Requerido" v-model="JSONuser.type">
                                        <option v-for="item in JSONview.userType" v-bind:value="item.code">{{ item.type }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button id="new" class="btn btn-primary btn-block" @click="newUser">Crear</button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjUserNew = new Vue({
        el: '#userNew',
        data: {
            JSONview: {
                userType: []
            },
            JSONuser: {
                code: "",
                nick: "",
                name: "",
                lastName: "",
                typeName: "",
                productionCenter: "",
                type: 1
            }
        },
        created: function() {
            this.getUserType();
            $('[data-toggle="popover"]').popover();
        },
        methods: {
            getUserType: function() {
                axios.get("ajax/user/get-user-type").then(response => {
                    this.JSONview.userType = response.data.data;
                });
            },
            checkUser: function() {
                if (Validator("userNew")){
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        code: this.JSONuser.code,
                        nick: this.JSONuser.nick
                    }));
                    axios.post("ajax/user/check", params).then( response => {
                        this.JSONuser.name = response.data.data.name;
                        this.JSONuser.lastName = response.data.data.lastName;
                        this.JSONuser.productionCenter = response.data.data.productionCenter;
                    });
                }
            },
            newUser: function() {
                if (Validator("userNew")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify(this.JSONuser));
                    axios.post("ajax/user/new", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            vjUserManageUsers.getAll();
                            this.JSONuser = {};
                            this.JSONuser.type= 1;
                        }
                    });
                }
            }
        }
    });
</script>
