<div id="userAccount">
    <div class="row">
        <div class="col-md-4">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Información del usuario</h5>
                    <small class="text-muted">Información perteneciente a la cuenta del usuario</small>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center text-muted"><i class="fas fa-user-tie"></i></h1>
                            <span class="d-block m-2"></span><hr>
                            <small>
                                <span class="text-primary font-weight-bold">Nombre</span><br>
                                <span class="ml-1 text-muted"> {{ subName }}</span>
                                <span class="d-block m-2"></span>
                                <span class="text-primary font-weight-bold">Tipo de usuario</span><br>
                                <span class="ml-1 text-muted"> {{ JSONuser.typeName }}</span>
                                <span class="d-block m-2"></span>
                                <span class="text-primary font-weight-bold">Centro de producción</span><br>
                                <span class="ml-1 text-muted"> {{ JSONuser.productionCenterName }}</span>
                                <span class="d-block m-2"></span>
                                <span class="text-primary font-weight-bold">Ultimo inicio de sesión</span><br>
                                <span class="ml-1 text-muted"> {{ JSONuser.lastSignin }}</span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjUserAccount = new Vue({
        el: "#userAccount",
        data: {
            JSONuser: {},
            JSONview: {
                productionCenters: []
            }
        },
        created: function () {
            this.loadUserInfo();
        },
        methods: {
            loadUserInfo: function () {
                axios.get("ajax/user/get-info").then(response => {
                    this.JSONuser = response.data.data;
                });
            }
        },
        computed: {
            subName: function () {
                var subName = this.JSONuser.name + " " + this.JSONuser.lastName;
                return subName.substr(0, 15);
            }
        }
    })
</script>
