<nav class="navbar navbar-light bg-white">
  <a class="navbar-brand" href="signin#">
    <img src="app-public/assets/images/title-app-tr.png" width="auto" height="65" class="align-top" alt="">
  </a>
</nav>
<style media="screen">
    .my-image-background {
        background-repeat: no-repeat;
        background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(app-public/assets/images/background-md-flowers.jpg);
        height:40rem;
    }
</style>
<div class="my-image-background">
    <div class="container">
        <div id="signInIndex">
            <div class="row">
                <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-10 offset-md-1 mt-4">
                    <div role="form" class="card shadow-sm" @keyup.enter="signIn">
                        <div class="card-body">
                            <h5 class="card-title mb-4 mt-1 text-success">Iniciar sesión</h5>
                            <hr>
                            <div class="section">
                                <div class="form">
                                    <div class="form-group">
                                        <label for="user">Usuario</label>
                                        <input id="nick" type="text" class="form-control control-enabled validator" tabindex="1" placeholder="Digita tu usuario" data-validator="noEmpty|length" data-minlen="3" data-maxlen="40" v-model="JSONuser.nick">
                                        <div class="invalid-feedback">
                                            Digita un Nombre de usuario valido.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" class="form-control control-enabled validator" tabindex="2" placeholder="********" data-validator="noEmpty|length" data-minlen="4" data-maxlen="24" v-model="JSONuser.pass">
                                        <div class="invalid-feedback">
                                            Digita un Contraseña valida.
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block control-enabled" tabindex="4" @click="signIn">Ingresar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-section">
                                
                                <h6 class="ml-2 text-muted">FLORES EL CAPIRO S.A.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vjSignInIndex = new Vue({
        el: '#signInIndex',
        data: {
            JSONuser: {}
        },
        methods: {
            signIn: function() {
                if (Validator("signInIndex")) {
                    let params = new URLSearchParams();
                    params.append("data", JSON.stringify(this.JSONuser));
                    axios.post("ajax/user/sign-in", params).then( resp => {
                        console.log(resp.data);
                    });
                }
            }
        }
    });
    $("#nick").focus();
</script>
