/*App customs*/
input:-moz-read-only {
    background-color: #ffffff !important;
}

input:read-only {
    background-color: #ffffff !important;
}

/*Bootstrap Ext*/
.btn-white {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-white:hover {
  color: #212529;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.btn-white:focus, .btn-white.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-white.disabled, .btn-white:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-white:not(:disabled):not(.disabled):active, .btn-white:not(:disabled):not(.disabled).active,
.show > .btn-white.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}

.btn-white:not(:disabled):not(.disabled):active:focus, .btn-white:not(:disabled):not(.disabled).active:focus,
.show > .btn-white.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

/*
Bootstrap Custom
*/

body{
    overflow-y: scroll;
}

.nav-link{
    color: #eeeeee !important;
}
.nav-link:hover{
    color: #d9d9d9 !important;
}
.dropdown-menu{
    z-index: 1200;
}
.my-image-background {
    background-repeat: no-repeat;
    background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url(app-public/assets/images/background-md-flowers.jpg);
    height:40rem;
}

.my-normal-wrap {
    white-space: normal;
}
/*
Clases Propias
*/
.my-mr-1 {
    margin-top: -0.25rem;
}

.my-short {
    max-width: 4rem;
}

.my-short-1 {
    max-width: 6rem;
}

.my-short-2 {
    max-width: 9rem;
}

.my-table-col {
    min-width: 2rem;
}

.my-table-col-1 {
    min-width: 5rem;
}

.my-table-col-2 {
    min-width: 9rem;
}

.my-table-col-3 {
    min-width: 13rem;
}

.my-table-col-4 {
    min-width: 19rem;
}

.my-table-col-5 {
    min-width: 24rem;
}

/*
    NavBar
*/

.my-noti-body{
    width: 100%;
    max-height: 14rem;
    overflow: auto;
}
.my-noti-footer{
    margin-bottom: -0.5rem;
    width: 18rem;
    height: 1.5rem;
    padding: 0 0 2rem;
    /*border-top: 0.08rem solid #dadada;*/
}
.my-noti-list > a > h6{
    color: #4d4d4d;
    padding: 0;
    margin: 0 0 0 0;
}

.my-noti-badge{
    font-size: 9px;
}

/*
Calendar
*/
#my-calendar td {
    height: 4.5rem;
    max-height: 6rem;
}

#my-calendar .my-calendar-month {
    min-width: 4.5rem;
    max-width: 5rem;
    height: 2rem;
}

#my-calendar .my-calendar-day {
    background-color: #ffffff;
}

#my-calendar .my-calendar-cell {
    margin: -0.8rem;
}

#my-calendar .my-btn-cell {
    height: 4.5rem;
    max-height: 6rem;
}

/*
Error
*/
.my-big-icon {
    font-size:150px;
}
