.pp-alert {
    position: fixed;
    right: 50%;
    top: 1.1rem;
    z-index: 2000;
    height: 10px;
}

.pp-alert-span{
    color: #ffffff;
}
.pp-alert-span:hover{
    color: #d2d2d2;
}
.pp-alert-title{
    font-size: 17px;
}
.pp-alert-text{
    font-size: 16px;
    color: #494949;
}
.pp-alert-badge{
    font-size: 15px;
    width: 1.7rem;
}
.pp-fa-spin {
    animation: a 2s infinite linear;
}
