<div id="reportsTrainingEffec">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Reporte Efectividad Por Capacitación</h5>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <div class="input-group">
                                    <select class="custom-select" v-model="productionCenter">
                                                  <option v-for="item in JSONview.productionCenter" v-bind:value="item.code"> {{ item.name }}</option>
                                              </select>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Año</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <button class="btn btn-light mr-1" @click="subtractYear"><small><i class="fas fa-minus"></i></small></button>
                                    </div>
                                    <input id="inputYear" type="text" class="form-control" readonly v-model="year">
                                    <div class="input-group-append">
                                        <button class="btn btn-light ml-1" @click="addYear"><small><i class="fas fa-plus"></i></small></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" name="button" class="btn btn-secondary" @click="get">Filtrar</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                   <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="get"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="sort">
                                <option value="asc">Asc</option>
                                <option value="desc">Desc</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                            <span class="text-muted font-italic float-right mr-2"> <small>Resultados : {{ filteredItems.length }}</small> </span>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar" v-model="search">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="table-responsive mx-2 mt-2">
                            <table class="my-table table table-hover" id="trainingTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="my-table-col-1" scope="col"></th>
                                        <th class="my-table-col-3" scope="col">Titulo</th>
                                        <th class="my-table-col-2" scope="col">Año</th>
                                        <th class="my-table-col-3" scope="col">Mes</th>
                                        <th class="my-table-col-3" scope="col">Porcentaje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-if="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th>{{ index + 1 }}</th>
                                         <td><a :href="'training/view#' + item.training" class="btn btn-info btn-sm" target="_blank"><i class="fas fa-eye"></i></a></td>
                                        <td>{{ item.training }}</td>
                                        <td>{{ item.year }}</td>
                                        <td>{{ item.month }}</td>
                                        <td>{{ item.percentaje }}</td>
                                    </tr>
                                    <tr v-if="filteredItems.length < 1">
                                        <td class="text-center" colspan="9"><span class="text-muted font-italic"> No se han encontrado registros.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2 offset-md-10 ">
                            <small class="form-text text-muted"><button type="submit" class="btn btn-primary btn-sm" @click="exportToExcel"> Generar documento </button></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjReportsTrainingE = new Vue({
        el: '#reportsTrainingEffec',
        data: {
            year: "",
            productionCenter: null,
            search: "",
            numResults: 10,
            page: 1,
            order: "date",
            sort: "desc",
            JSONitem: {
                list: []
            },
            JSONview: {
                productionCenter: []
             
            }
        },
        created: function() {
            this.getItems();
            this.year = moment().format("YYYY");
            this.productionCenter = 2;
            this.get();
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            },
            sort: function () {
                this.orderBy(this.order);
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONitem.list.filter(function(pList) {
                    return pList.training.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                var self = this;
                this.JSONitem.list.sort(function(a, b) {
                    if (self.sort == "desc") {
                        return a[pBy].toLowerCase() < b[pBy].toLowerCase();
                    } else {
                        return a[pBy].toLowerCase() > b[pBy].toLowerCase();
                    }
                });
            },
            get: function() {
                if (Validator("reportsTrainingEffec")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({
                        year: this.year,
                        productionCenter: this.productionCenter
                    }));
                    axios.post("ajax/report/get-trainings-by-effectiveness", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            this.JSONitem.list = response.data.data;
                            this.orderBy(this.order);
                        }
                    });
                }
            },
            getItems: function() {
                axios.get("ajax/report/get-items").then(response => {
                    this.JSONview.productionCenter = response.data.data.productionCenters;
                });
            },
            addYear: function() {
                this.year++;
            },
            subtractYear: function() {
                this.year--;
            },
            exportToExcel: function () {
                tableToExcel('trainingTable', 'Reporte por Capacitación');
            }
        }
    });
</script>