<div id="reportsEffectiveness">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="form-title m-3">
                    <h5 class="text-primary">Indicador de Efectividad</h5>
                </div>
                <hr>
                <div class="form-body m-3">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Centro de producción</label>
                                <div class="input-group">
                                    <select class="custom-select validator" data-validator="numeric" v-model="JSONfilter.productionCenter">
                                 <option value="">Seleccione...</option>
                                 <option v-for="item in JSONview.productionCenter" v-bind:value="item.code"> {{ item.name }}</option>
                            </select>
                                    <div class="invalid-feedback">
                                        Seleccione una opción.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="">Año</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-append">
                                        <button class="btn btn-light mr-1" @click="subtractYear"><small><i class="fas fa-minus"></i></small></button>
                                    </div>
                                    <input id="inputYear" type="text" class="form-control" readonly v-model="year">
                                    <div class="input-group-append">
                                        <button class="btn btn-light ml-1" @click="addYear"><small><i class="fas fa-plus"></i></small></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Título</label>
                                <div class="input-group mb-3">
                                    <select class="custom-select validator" data-validator="numeric" v-model="JSONfilter.theme">
                               <option value="">Selecciona...</option>
                               <option v-for="item in JSONview.theme" v-bind:value="item.code"> {{ item.name }}</option>
                            </select>
                            <div class="invalid-feedback">
                                Seleccione una opción.
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn-block" @click="get"> Filtrar </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mx-2">
                            <table class="my-table table table-hover" id="effectivenessTable">
                                <thead>
                                    <tr>
                                        <th class="my-table-col-3" scope="col">Titulo</th>
                                        <th class="my-table-col" scope="col">Ene.</th>
                                        <th class="my-table-col" scope="col">Feb.</th>
                                        <th class="my-table-col" scope="col">Mar.</th>
                                        <th class="my-table-col" scope="col">Abr.</th>
                                        <th class="my-table-col" scope="col">May.</th>
                                        <th class="my-table-col" scope="col">Jun.</th>
                                        <th class="my-table-col" scope="col">Jul.</th>
                                        <th class="my-table-col" scope="col">Ago.</th>
                                        <th class="my-table-col" scope="col">Sep.</th>
                                        <th class="my-table-col" scope="col">Oct.</th>
                                        <th class="my-table-col" scope="col">Nov.</th>
                                        <th class="my-table-col" scope="col">Dic.</th>
                                        <th class="my-table-col" scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">Efectividad</td>
                                        <td v-for="item in JSONitem">{{ item }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2 offset-md-10 ">
                            <small class="form-text text-muted"><button type="submit" class="btn btn-primary btn-sm" @click="exportToExcel"> Generar documento </button></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjReportsEffectiveness = new Vue({
        el: '#reportsEffectiveness',
        data: {
            sex: "",
            year: "",
            JSONview: {
                productionCenter: [],
                process: [],
                theme: []
            },
            JSONfilter:{
               productionCenter:"",
               theme:""
            },
            JSONitem: []
        },
        created: function() {
            this.getItems();
            this.year = moment().format("YYYY");
        },
        methods: {
            getItems: function() {
                axios.get("ajax/report/get-items").then(response => {
                    this.JSONview.productionCenter = response.data.data.productionCenters;
                    this.JSONview.process = response.data.data.process;
                    this.JSONview.theme = response.data.data.themes;
                });
            },
            get: function () {
               if (Validator("reportsEffectiveness")) {
                   let params = new URLSearchParams();
                   this.JSONfilter.year = this.year;
                   console.log(JSON.stringify(this.JSONfilter));
                   params.append('data', JSON.stringify(this.JSONfilter));
                   axios.post("ajax/report/get-by-effectiveness", params).then(response => {
                       console.log(response.data);
                       if (response.data.status === "success") {
                           this.JSONitem = response.data.data;
                           console.log(this.JSONitem);
                       }
                   });
                }
            },
            addYear: function() {
                this.year++;
            },
            subtractYear: function() {
                this.year--;
            },
            exportToExcel: function () {
                tableToExcel('effectivenessTable', 'Indicadores de Efectividad');
            }
        }
    });
</script>
