<div id="reportsEmployee">
    <div class="row">
        <div class="col-md-12">
            <div class="border rounded">
                <div class="m-3">
                    <h5 class="text-primary">Reporte por Empleado</h5>
                </div>
                <hr>
                <div class="m-3">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Cédula</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control control-enabled validator" data-validator="required|length" data-minlen="1" data-maxlen="14" v-model="code">
                                <div class="input-group-prepend">
                                    <button class="btn btn-primary my-form-control" type="button" data-toggle="tooltip" data-placement="right" title="Buscar Empleado" @click="get"><i class="fas fa-check"></i></button>
                                </div>
                                <div class="invalid-feedback">
                                    Codigo invalido.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="">Nombre Completo</label>
                            <input type="text" class="form-control" disabled="disabled" v-model="JSONitem.employee.fullName">
                        </div>
                        <div class="col-md-3">
                            <label for="">C. Producción</label>
                            <input type="text" class="form-control" disabled="disabled" v-model="JSONitem.employee.productionCenter">
                        </div>
                        <div class="col-md-3">
                            <label for="">C. Costos</label>
                            <input type="text" class="form-control" disabled="disabled" v-model="JSONitem.employee.costCenter">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Fecha inicio</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="">Fecha fin</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="float-right btn btn-success btn-sm ml-2" @click="get"><i class="fas fa-sync-alt"></i></button>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="sort">
                                <option value="asc">Asc</option>
                                <option value="desc">Desc</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short-2 ml-2" v-model="order">
                                <option value="date" selected>Fecha</option>
                                <option value="theme">Capacitación</option>
                                <option value="costCenter">C. Costos</option>
                            </select>
                            <select class="float-right custom-select custom-select-sm my-short ml-2" v-model="numResults">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="40">40</option>
                            </select>
                            <span class="text-muted font-italic float-right mr-2"> <small>Resultados : {{ filteredItems.length }}</small> </span>
                            <input type="tex" class="form-control my-short-2 form-control-sm ml-2" placeholder="Buscar" v-model="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive mx-2 mt-2">
                            <table class="my-table table table-hover" id="employeeTable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="my-table-col-1" scope="col"></th>
                                        <th class="my-table-col-3" scope="col">Capacitación</th>
                                        <th class="my-table-col-1" scope="col">Fecha</th>
                                        <th class="my-table-col-3" scope="col">C. Producción</th>
                                        <th class="my-table-col-4" scope="col">Proceso</th>
                                        <th class="my-table-col-5" scope="col">C. Costos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in filteredItems" v-show="(page - 1) * numResults <= index  && page * numResults > index">
                                        <th scope="row">{{ index + 1 }}</th>
                                        <td><button type="button" name="button" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></button></td>
                                        <td>{{ item.theme }}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.productionCenter }}</td>
                                        <td>{{ item.process }}</td>
                                        <td>{{ item.costCenter }}</td>
                                    </tr>
                                    <tr v-if="filteredItems.length < 1">
                                        <td class="text-center" colspan="8"><span class="text-muted font-italic"> No se han encontrado registros.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page != 1" @click.prevent="page -= 1"><i class="fas fa-angle-left"></i> Anterior</button>
                            <button type="button" class="btn btn-secondary btn-sm" v-show="page * numResults / JSONitem.list.length < 1" @click.prevent="page += 1">Siguiente <i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2 offset-md-10 ">
                           <small class="form-text text-muted"><button type="submit" class="btn btn-primary btn-sm" @click="exportToExcel"> Generar documento </button></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vjReportsEmployee = new Vue({
        el: '#reportsEmployee',
        data: {
            code: null,
            search: "",
            numResults: 10,
            page: 1,
            order: "date",
            sort: "desc",
            JSONitem: {
                list: [],
                employee: {}
            }
        },
        watch: {
            numResults: function() {
                this.page = 1;
            },
            order: function() {
                this.orderBy(this.order);
            },
            sort: function () {
                this.orderBy(this.order);
            }
        },
        computed: {
            filteredItems: function() {
                var self = this;
                return this.JSONitem.list.filter(function(pList) {
                    return pList.theme.toLowerCase().indexOf(self.search.toLowerCase()) >= 0;
                });
            }
        },
        methods: {
            orderBy: function(pBy) {
                var self = this;
                this.JSONitem.list.sort(function(a, b) {
                    if (self.sort == "desc") {
                        return a[pBy].toLowerCase() < b[pBy].toLowerCase();
                    } else {
                        return a[pBy].toLowerCase() > b[pBy].toLowerCase();
                    }
                });
            },
            get: function() {
                if (Validator("reportsEmployee")) {
                    let params = new URLSearchParams();
                    params.append('data', JSON.stringify({code: this.code}));
                    axios.post("ajax/report/get-by-employee", params).then(response => {
                        console.log(response.data);
                        if (response.data.status === "success") {
                            this.JSONitem.list = response.data.data.list;
                            this.JSONitem.employee = response.data.data.employee;
                            console.log(JSON.stringify(this.JSONitem.employee));
                            this.orderBy(this.order);
                        }
                    });
                }
            },
            exportToExcel: function () {
                tableToExcel('employeeTable', 'Reporte por Empleado');
            }
        }
    });
</script>
